html,body {
  background-color: #f7f7f7;
  font-family: PingFang;
}
body {  
  -webkit-text-size-adjust: 100% !important;  
  text-size-adjust: 100% !important;  
  -moz-text-size-adjust: 100% !important;  
} 
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button{
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;    //消除默认点击蓝色边框效果
}
.fl {
  float: left;
}

.fr {
  float: right;
}

input {
  border: none;
  color: #333;
}

::-webkit-input-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}
.input-BB2::-webkit-input-placeholder { color: #738BB2; }
.input-BB2:-ms-input-placeholder { color: #738BB2; }
.input-BB2::-moz-placeholder { color: #738BB2; }
.input-BB2:-moz-placeholder { color: #738BB2; }
* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
//  -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
//  -webkit-touch-callout: none; /* iOS Safari */
//  -webkit-user-select: none; /* Chrome/Safari/Opera */
//  -khtml-user-select: none; /* Konqueror */
//  -moz-user-select: none; /* Firefox */
//  -ms-user-select: none; /* Internet Explorer/Edge */
//  user-select: none;
}