@import './default';
#community {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/home_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad {
    padding: 0 20px;
    .banner {
        height: 278px;
        border-radius: 10px;
        margin-bottom: 33px;
        overflow: hidden;
    }
    .tabs {
        background:rgba(18,41,158,0.23);
        border:2px solid rgba(51, 123, 255, 0.36);
        border-radius:6px;
        height: 113px;
        line-height: 113px;
        box-sizing: border-box;
        color: #00A2FF;
        font-size: 32px;
        .bold {
            position: relative;
        }
        .act {
            color: #00F0FF;
        }
        .act:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width:46px;
            height:4px;
            background: #00F0FF;
            border-radius:2px;
        }
        .bold:first-child:before, .bold:last-child:before {
            content: ' ';
            display: inline-block;
            position: absolute;
            width: 4px;
            height: 60px;
            background: rgba(57,116,158,1);
            opacity: 0.5;
            top: 50%;
            margin-top: -30px;
        }
        .bold:first-child:before {
            right: 0;
        }
        .bold:last-child:before {
            left: 0;
        }
    }
}
.qukuai {
    .title {
        font-size: 36px;
        margin-top: 55px;
        margin-bottom: 44px;
        .name {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            vertical-align: bottom;
        }
        .icon-ques {
            display: inline-block;
            margin-left: 16px;
            width: 30px;
            height: 30px;
            background: url(~@/assets/img/icon-question.png) no-repeat center;
            background-size: 100%;
            vertical-align: bottom;
        }
    }
    .time {
        width:516px;
        height:50px;
        margin: 0 auto;
        line-height: 50px;
        background:rgba(255,255,255,0);
        border:2px solid rgba(248, 250, 255, 0.23);
        border-radius:25px;
        font-size: 22px;
        margin-bottom: 20px;
        span {
            vertical-align: middle;
        }
        .t {
            font-size: 30px;
            color: #00EAFF;
            margin-left: 42px;
        }
    }
    .temp {
        position: relative;
        margin-bottom: 46px;
        .img-box {
            width: 647px;
            height: 153px;
            background: url(~@/assets/img/temp-grade.png) no-repeat center;
            background-size: 100%;
            margin-left: 38px;
            position: relative;
            .lists {
                position: absolute;
                left: 143px;
                bottom: 63px;
                white-space: nowrap;
                span {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 40px;
                    height: 50px;
                    margin-right: 13px;
                }
                span:last-child {
                    margin-right: 0;
                }
                span.t10 {
                    background: url(~@/assets/img/tempaure/10@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t10.act {
                    background: url(~@/assets/img/tempaure/10.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t20 {
                    background: url(~@/assets/img/tempaure/20@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t20.act {
                    background: url(~@/assets/img/tempaure/20.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t30 {
                    background: url(~@/assets/img/tempaure/30@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t30.act {
                    background: url(~@/assets/img/tempaure/30.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t40 {
                    background: url(~@/assets/img/tempaure/40@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t40.act {
                    background: url(~@/assets/img/tempaure/40.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t50 {
                    background: url(~@/assets/img/tempaure/50@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t50.act {
                    background: url(~@/assets/img/tempaure/50.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t60 {
                    background: url(~@/assets/img/tempaure/60@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t60.act {
                    background: url(~@/assets/img/tempaure/60.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t70 {
                    background: url(~@/assets/img/tempaure/70@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t70.act {
                    background: url(~@/assets/img/tempaure/70.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t80 {
                    height: 60px;
                    background: url(~@/assets/img/tempaure/80@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t80.act {
                    background: url(~@/assets/img/tempaure/80.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t90 {
                    height: 60px;
                    background: url(~@/assets/img/tempaure/90@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t90.act {
                    background: url(~@/assets/img/tempaure/90.@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t100 {
                    height: 60px;
                    background: url(~@/assets/img/tempaure/100@2x.png) no-repeat center;
                    background-size: 100%;
                }
                span.t100.act {
                    background: url(~@/assets/img/tempaure/100.@2x.png) no-repeat center;
                    background-size: 100%;
                }
            }
        }
        p {
            font-size: 22px;
            position: absolute;
            bottom: -8px;
            left: 54%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
    }
    .pad-37 {
        padding: 0 37px;
        margin-bottom: 40px;
        font-size: 26px;
        .cur {
            height: 86px;
            line-height: 86px;
            border-top: 2px solid rgba(236,236,236,0.38);
            border-bottom: 2px solid rgba(236,236,236,0.38);
            position: relative;
        }
        .cur:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            width: 4px;
            height: 65px;
            background: rgba(237,237,237,1);
            opacity: 0.47;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    button {
        margin-bottom: 49px;
        width: 660px;
        height: 88px;
        border-radius: 8px;
        font-size: 32px;
    }
}
.dajiang {
    .dj-pad {
        padding: 20px;
        .box {
            border:2px solid rgba(51, 123, 255, 0.36);
            box-shadow:0px 7px 18px 0px rgba(0,180,255,0.15);
            border-radius:6px;
            padding: 38px 0;
            .title {
                font-size: 36px;
                margin-bottom: 38px;
                .name {
                    display: inline-block;
                    height: 36px;
                    line-height: 36px;
                    vertical-align: bottom;
                }
                .icon-ques {
                    display: inline-block;
                    margin-left: 16px;
                    width: 30px;
                    height: 30px;
                    background: url(~@/assets/img/icon-question.png) no-repeat center;
                    background-size: 100%;
                    vertical-align: bottom;
                }
            }
            .left-time {
                padding: 0 28px;
                margin-bottom: 36px;
                &-val {
                    background:rgba(47,61,161,1);
                    border:3px solid rgba(46, 72, 255, 0.4);
                    box-shadow: 0px 10px 16px 0px rgba(87,108,255,0.6), 2px 1px 1px 0px rgba(0, 0, 0, 0.14);
                    border-radius:10px;
                    padding: 0 15px;
                    p.t {
                        height: 100px;
                        line-height: 100px;
                        span {
                            display: block;
                        }
                        .f32 { font-size: 32px; }
                        .f42 { font-size: 42px; }
                    }
                    p.b {
                        height: 134px;
                        line-height: 134px;
                        background:rgba(25,38,129,1);
                        border-radius:8px;
                        color: #00E4FF;
                        font-size: 64px;
                    }
                }
            }
            .btn-box {
                padding: 0 25px;
                button {
                    width: 100%;
                    height: 88px;
                    border-radius: 8px;
                    font-size: 32px;
                }
            }
        }
    }
}
.dajiang.item {
    p.cur-award {
        color: #02FFDE;
        font-size: 30px;
        margin-bottom: 50px;
        line-height:40px;
    }
}
.buy {
    width: 713px;
    background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
    background-size: cover;
    .title {
        font-size: 48px;
        color: #fff;
        padding: 42px;
        height: 46px;
        line-height: 46px;
    }
    .pad {
        padding: 0 45px;
        box-sizing: border-box;
        .input-box {
            width: 626px;
            margin: 0 auto;
            background: #EFF5FF;
            border: 1px solid #EFF5FF;
            box-shadow: 0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
            border-radius:10px;
            padding: 21px;
            box-sizing: border-box;
            margin-bottom: 25px;
            input {
                width: 100%;
                height: 96px;
                background: #fff;
                color: #738BB2;
                font-size: 32px;
                text-align: center;
                margin-bottom: 12px;
            }
            input[disabled] {
                background: #fff;
            }
            input.mar-bt0 {
                margin-bottom: 0;
            }
            .chose-box {
                position: relative;
                .icon-down {
                    display: inline-block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    right: 12px;
                    top: 50%;
                    margin-top: -20px;
                    background: url(~@/assets/img/wallet/icon-down@2x.png) no-repeat center;
                    background-size: 100%;
                }
                .chose {
                    position: absolute;
                    left: 0;
                    top: 86px;
                    width: 100%;
                    background: #fff;
                    box-shadow: 0px 7px 7px 0px rgba(70,57,207,0.32);
                    color: #738BB2;
                    font-size: 32px;
                    padding: 0 15px;
                    box-sizing: border-box;
                    height: 0;
                    overflow: hidden;
                    transition: height linear .2s;
                    .item {
                        height: 76px;
                        line-height: 76px;
                        border-top: 2px solid #EFF5FF;
                    }
                }
            }
            .chose-box.act {
                .icon-down {
                    background: url(~@/assets/img/wallet/icon-up@3x.png) no-repeat center;
                    background-size: 100%;
                }
                .chose {
                    height: auto;
                }
            }
        }
        .spend {
            height: 73px;
            line-height: 73px;
            font-size: 26px;
            color: #008CFF;
            background: #EFF5FF;
            border-radius: 4px;
            .cred {
                color: #FF00A8;
                margin-left: 23px;
            }
            .mar-rt {
                margin-left: 34px;
            }
        }
        .sbt-box {
            margin-top: 48px;
            padding-bottom: 38px;
            font-size: 30px;
            button {
                width: 258px;
                height: 84px;
                border-radius: 6px;
            }
        }
    }
}
.confirmBuy {
    width: 640px;
    .title {
        padding-top: 51px;
        padding-bottom: 63px;
    }
    .pad {
        .input-box {
            width: 562px;
            padding: 0 19px;
            input {
                height: 86px;
                margin: 83px 0;
            }
        }
    }
}
.awardMember {
    width: 640px;
//  background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
//  background-size: cover;
    background: #4D33D1;
    padding: 10px;
    box-sizing: border-box;
    .open {
        box-shadow:0px 3px 32px 0px rgba(0,96,255,0.17);
        border-radius:10px;
        background: #fff;
    }
    .close-con {
        height:70px;
        line-height: 70px;
        color: #221EBE;
        background:linear-gradient(90deg,rgba(0,252,255,1),rgba(0,192,255,1));
        box-shadow:0px 1px 6px 0px rgba(255,255,255,0.2);
        border-radius:10px;
        margin-bottom: 10px;
        .f30 { font-size: 30px; }
        .f24 { font-size: 24px; }
    }
    .close:last-child .close-con, .close:last-child .open-con{
        margin-bottom: 0;
    }
    .open-con {
        background: #fff;
        box-shadow:0px 3px 32px 0px rgba(0,96,255,0.17);
        border-radius:10px;
        margin-bottom: 10px;
        p {
            background:linear-gradient(90deg,rgba(255,102,0,1),rgba(255,34,242,1));
            box-shadow:0px 1px 6px 0px rgba(255,255,255,0.2);
            border-radius:10px;
            height:70px;
            line-height: 70px;
            .f30 { font-size: 30px; }
            .f24 { font-size: 24px; }
        }
        .title {
            color: #FF9C00;
            font-size: 30px;
            height:70px;
            line-height: 70px;
        }
        .list-pad {
            padding: 0 15px 15px 15px;
            ul {
                background: rgba(225,225,225,0.3);
                border-radius:4px;
                color: #000;
                font-size: 24px;
                flex-wrap: wrap;
                padding: 16px;
                li {
                    width: 25%;
                    margin-top: 30px;
                }
                li.no-mar {
                    margin-top: 0;
                }
            }
        }
    }
}
