.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/home_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad-75 {
    padding: 0 75px;
    padding-top: 40px;
}
.item {
    box-sizing: border-box;
    height: 150px;
    padding-bottom: 20px;
    position: relative;
    .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 0;
        bottom: 20px;
    }
    input {
        width: 100%;
        font-size: 30px;
        height: 60px;
        background: transparent;
        text-align: center;
        margin-top: 70px;
    }
    input::-webkit-input-placeholder { color: #B1C8FF; }
    input:-ms-input-placeholder { color: #B1C8FF; }
    input::-moz-placeholder { color: #B1C8FF; }
    input:-moz-placeholder { color: #B1C8FF; }
}
.item.user .icon {
    background: url(~@/assets/img/login/icon_user@2x.png) no-repeat center;
    background-size: 100%;
}
.item.psd .icon {
    background: url(~@/assets/img/login/icon_psd@2x.png) no-repeat center;
    background-size: 100%;
}
.item.code .icon {
    background: url(~@/assets/img/login/icon_code@2x.png) no-repeat center;
    background-size: 100%;
}
.item.code .img {
    position: absolute;
    width: 156px;
    height: 65px;
    right: 0;
    bottom: 20px;
    img {
        width: 100%;
        height: 100%;
    }
}
.item.helppsd .icon {
    background: url(~@/assets/img/login/icon_helppsd@2x.png) no-repeat center;
    background-size: 100%;
}
.item.recomer .icon {
    background: url(~@/assets/img/login/icon_recomer@2x.png) no-repeat center;
    background-size: 100%;
}
.item:before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #C8D0FF;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}
.forget {
    text-align: right;
    font-size:28px;
    margin-top: 29px;
}
.submit {
    margin-top: 222px;
    padding-bottom: 164px;
    button {
        width: 660px;
        height: 90px;
        border-radius: 8px;
        font-size: 40px;
    }
    .login {
        margin-bottom: 42px;
    }
}
.forget-submit {
    margin-top: 244px;
}
.register-submit {
    margin-top: 0;
}
p.tell {
    color: #B1C8FF;
    font-size: 22px;
    margin-top: 29px;
    margin-bottom: 21px;
}
.email {
    width: 640px;
    background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(70,57,207,0.45);
    .title {
        font-size: 48px;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 62px;
        height: 45px;
        line-height: 45px;
    }
    .content {
        width: 562px;
        margin: 0 auto;
        background:rgba(239,245,255,1);
        border:1px solid rgba(239, 245, 255, 1);
        box-shadow:0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
        border-radius:10px;
        margin-bottom: 52px;
        box-sizing: border-box;
        padding: 41px 19px 26px 19px;
        .text {
            color: #336EDC;
            font-size: 26px;
            line-height:39px;
        }
        .email-val {
            width: 100%;
            background: #fff;
            height: 86px;
            line-height: 86px;
            font-size: 32px;
            color: #738BB2;
            margin-top: 35px;
        }
    }
    .sbt-box {
        padding: 0 40px 26px 40px;
        button {
            height: 84px;
            width: 258px;
            font-size: 30px;
        }
    }
}