@mixin extend-click() {
  position: relative;
  &:before {
    position: absolute;
    top: -.133333rem;
    right: -.133333rem;
    bottom: -.133333rem;
    left: -.133333rem;
    content: '';
  }
}

@mixin bg-image($url) {
  background-image: url($url) '@2x.png';
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url) '@3x.png';
  }
}

@mixin text-overflow($line) {
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$line; 
}

@mixin margin-center() {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fixed-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flexBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.flexJustifyCenter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flexBetween {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flexAlignCenter {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.text-line2, .text-line4 {
    text-align: left;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
//  /*! autoprefixer: off */
    -webkit-box-orient: vertical;
//  /* autoprefixer: on */
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.text-line4 {
    -webkit-line-clamp: 4;
}

// vant
.van-list__loading {
    width: 100% !important;
}
.van-swipe__indicators {
    bottom: 0.4rem !important;
}
.van-tabs--line .van-tabs__wrap {
    height: 1.173333rem !important;
}
.van-hairline--top-bottom::after {
    border-width: 0 !important;
}
.van-tab {
    line-height: 1.173333rem !important;
}
.van-tab {
    color: #777 !important;
    font-size: 0.373333rem !important;
}
.van-tab--active {
    color: #ED145B !important;
}
.van-tabs__line {
    background-color: #F54B78 !important;
}
.van-tabs--line {
    padding-top: 1.173333rem !important;
}
.van-swipe__indicator {
    width: 0.213333rem !important;
    height: 0.213333rem !important;
    margin-right: 0.266666rem !important;
    opacity: 1 !important;
//  background: url(~@/assets/img/home/goods_detail_point_nor@3x.png) no-repeat center !important;
    background-size: 100% !important;
//  background: #e5e5e5 !important;
}
.van-swipe__indicator--active {
//  background: url(~@/assets/img/home/goods_detail_point_sel@3x.png) no-repeat center !important;
    background-size: 100% !important;
//  background: #999 !important;
}
.van-swipe {
    height: 9.466666rem !important;
    background: #fff !important;
}
.van-picker__cancel, .van-picker__confirm {
    color: #000 !important;
    font-size: 0.4rem !important;
    padding: 0 0.706666rem !important;
}
.van-picker-column__item {
    color: #000;
    font-size: 0.453333rem !important;
    font-weight: bold;
}
.van-picker-column__item--selected {
    font-weight: bold !important;
}



#physics-state {
  background: #fff;
}
#physics-state.black {
  background: #333;
}