@import './default';
#my {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
    background-size: 100%;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
