#Detail {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.tabs {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 120px;
  background: rgba(19,29,104,0.5);
  box-sizing: border-box;
  span.tab {
    display: inline-block;
    height: 100%;
    line-height: 120px;
    padding: 0 20px;
    font-size: 30px;
    position: relative;
  }
  .act span.tab {
    color: #02FFD2;
  }
  .act span.tab:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 4px;
    background: #02FFD2;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
  }
}
.sub-scroll {
  margin-top: 120px;
  padding-bottom: 140px;
  box-sizing: border-box;
  padding-top: 28px;
  .tab-con {
    .pad {
        padding: 0 20px;
        .title {
            background: rgba(36,117,240,0.45);
            border-radius: 10px;
            height: 104px;
            line-height: 104px;
            font-size: 30px;
            margin-bottom: 17px;
        }
    }
    .time {
        height:70px;
        line-height: 70px;
        background:rgba(36,117,240,0.45);
        border-radius:10px;
        font-size: 30px;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        &-item {
            .shower {
                width: 130px;
                height: 46px;
                line-height: 46px;
                background: rgba(46,97,213,1);
                border-radius: 4px;
                margin-right: 9px;
                position: relative;
                .val {
                    display: block;
                }
                .down {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: url(~@/assets/img/my/team/icon-down.png) no-repeat center;
                    background-size: 100%;
                }
                .chosebox {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    background:rgba(46,97,213,0.8);
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    li {
                        height: 46px;
                        line-height: 46px;
                    }
                }
            }
        }
    }
    .lists {
        &-item {
            border-bottom: 2px solid #283387;
            padding: 42px 0 37px 60px;
            text-align: left;
            .list-time {
                margin-bottom: 35px;
            }
            .get {
                span {
                    color: #FFF000;
                }
            }
        }
    }
  }
}