#Part {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.rightCustom {
  position: absolute;
  line-height: normal;
  font-size: 30px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.pad {
    padding: 23px 20px 0 20px;
    .item {
        margin-bottom: 17px;
    }
    .part {
        background:rgba(97,136,255,0.24);
        border-radius:10px;
        margin-bottom: 21px;
        .line {
            height: 2px;
            background: #00021A;
        }
        .btm-part {
            padding: 15px 22px 23px 35px;
            font-size: 24px;
            button {
                width: 144px;
                height: 50px;
                background: #7B7B7B;
                color: #555555;
                box-shadow:0px 2px 0px 0px rgba(123,123,123,0.85);
                border-radius:4px;
                line-height: 50px;
            }
            button.act {
                background: #12D016;
                color: #064D07;
                box-shadow:0px 2px 0px 0px rgba(17,175,20,0.85);
            }
        }
    }
    .detail {
        padding-left: 18px;
        padding-top: 21px;
        .status {
            width:157px;
            height:151px;
            background:rgba(36,117,240,1);
            border-radius:10px;
            position: relative;
            margin-right: 22px;
            .text {
                font-size: 24px;
                margin-top: 44px;
                margin-bottom: 26px;
                display: block;
            }
            .id {
                font-size: 30px;
            }
        }
        .r-part {
            flex-direction: column;
            font-size: 26px;
            text-align: left;
            .number {
                color: #FFA646;
                padding-top: 9px;
            }
            .more {
                color: #02FFD2;
                span { margin-left: 27px; }
            }
            .day {
                color: #CAD2FF;
                font-size: 24px;
                padding-bottom: 8px;
            }
        }
    }
    .part.normal .status:after, .part.unuse .status:after {
        content: ' ';
        display: inline-block;
        position: absolute;
        width: 70px;
        height: 71px;
        top: 0;
        right: 0;
    }
    .part.normal .status:after {
        background: url(~@/assets/img/my/tag-normal@2x.png) no-repeat center;
        background-size: 100%;
    }
    .part.unuse .status:after {
        background: url(~@/assets/img/my/tag-unuse@2x.png) no-repeat center;
        background-size: 100%;
    }
    .part.normal {
        .detail {
//          margin-bottom: 18px;
        }
    }
    .part.unuse {
        .detail {
            padding-bottom: 26px;
        }
    }
    .part:last-child {
        margin-bottom: 0;
    }
}
.total {
    background: rgba(19,29,104,0.5);
    border-radius: 10px;
    padding-top: 40px;
    margin-bottom: 25px;
    .n {
        color: #02FFD2;
        font-size: 33px;
    }
    .name {
        font-size: 26px;
        margin-top: 31px;
        margin-bottom: 33px;
    }
}
.submit {
  width: 660px;
  height: 88px;
  border-radius: 8px;
  font-size: 32px;
  margin-bottom: 84px;
  margin-top: 234px;
}
.withdraw {
    background: transparent;
    .count-box {
        width: 640px;
        background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(70,57,207,0.45);
        .title {
            font-size: 48px;
            color: #fff;
            padding-top: 33px;
            padding-bottom: 19px;
            height: 45px;
            line-height: 45px;
        }
        .tell {
            font-size: 22px;
            margin-bottom: 40px;
        }
        .content {
            width: 562px;
            margin: 0 auto;
            background:rgba(239,245,255,1);
            border:1px solid rgba(239, 245, 255, 1);
            box-shadow:0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
            border-radius:10px;
            margin-bottom: 80px;
            box-sizing: border-box;
            color: #516D9B;
            font-size: 32px;
            padding: 156px 0;
        }
        .sbt-box {
            padding: 0 40px 26px 40px;
            button {
                height: 84px;
                width: 100%;
                font-size: 30px;
            }
            .confrim {
                margin-bottom: 37px;
            }
        }
    }
}