.pad {
    padding: 26px 20px 80px 20px;
    .container {
        background:rgba(33,45,132,0.4);
        border:2px solid rgba(51, 123, 255, 0.36);
        border-radius:10px;
        color: #fff;
        padding: 50px 18px 30px 18px;
        margin-bottom: 195px;
        .info {
            margin-bottom: 67px;
            img {
                width: 275px;
                height: 275px;
                margin-right: 18px;
                margin-left: 6px;
            }
            .infos {
                height: 100%;
                flex-direction: column;
                .name {
                    font-size: 26px;
                }
                .val {
                    display: inline-block;
                    width: 187px;
                    height: 50px;
                    line-height: 50px;
                    background: #6562FF;
                    border-radius: 4px;
                    font-size: 28px;
                }
            }
        }
        .part {
            margin-bottom: 18px;
            .c-blue { color: #00D2FF; }
            .c-yel { color: #FFE401; }
            .part-m {
                height: 71px;
                line-height: 71px;
                background: rgba(36, 117, 240, 0.25);
                border-radius: 4px;
                padding-left: 14px;
                text-align: left;
                position: relative;
                font-size: 26px;
                .icon-right {
                    display: inline-block;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    right: 0;
                    top: 50%;
                    margin-top: -25px;
                    background: url(~@/assets/img/my/team/icon-no-down.png) no-repeat center;
                    background-size: 100%;
                }
            }
            .part-m.act {
                .icon-right {
                    background: url(~@/assets/img/my/team/icon-down.png) no-repeat center;
                    background-size: 100%;
                }
            }
            .part-m.m-bt0 {
                margin-bottom: 0;
            }
            .part-detail {
                margin-top: 2px;
                background: rgba(36, 117, 240, 0.25);
                border-radius: 4px;
                font-size: 24px;
                height: 0;
                overflow: hidden;
                transition: all linear .3s;
                .item {
                    height: 59px;
                    line-height: 59px;
                    text-align: left;
                    padding-left: 18px;
                    .icon-left {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url(~@/assets/img/my/team/icon-left-no-down.png) no-repeat center;
                        background-size: 100%;
                        margin-right: 15px;
                    }
                    .icon-left.act {
                        background: url(~@/assets/img/my/team/icon-left-down.png) no-repeat center;
                        background-size: 100%;
                    }
                    .mar-rt130 {
                        margin-right: 130px;
                    }
                }
                .detail {
                    text-align: left;
                    padding-left: 65px;
                    height: 0;
                    box-sizing: border-box;
                    overflow: hidden;
                    p {
                        margin-bottom: 18px;
                        height: 25px;
                        line-height: 25px;
                    }
                    p:first-child {
                        padding-top: 18px;
                    }
                }
                .detail.act {
                    height: auto;
                }
                &>div:last-child p:last-child {
                    margin-bottom: 23px;
                }
            }
            .part-detail.act {
                height: auto;
            }
        }
    }
}
.back {
    width: 660px;
    height: 88px;
    font-size: 32px;
    margin: 0 auto;
}