@import './default';
.tabs {
    padding-top: 57px;
    .icon {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;
    }
    .order .icon {
        background: url(~@/assets/img/my/icon-order@3x.png) no-repeat center;
        background-size: 100%;
    }
    .part .icon {
        background: url(~@/assets/img/my/icon-part@3x.png) no-repeat center;
        background-size: 100%;
    }
    .redpg .icon {
        background: url(~@/assets/img/my/icon-redpg@3x.png) no-repeat center;
        background-size: 100%;
    }
    .ring .icon {
        background: url(~@/assets/img/my/icon-ring@3x.png) no-repeat center;
        background-size: 100%;
    }
    .name {
        font-size: 24px;
        height: 23px;
        line-height: 23px;
    }
    .msg .icon:before {
        position: absolute;
        content: ' ';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #FF0000;
        top: -10px;
        right: -10px;
    }
}
.lists {
    padding: 22px 0 21px 27px;
    .item {
        height: 92px;
        .icon {
            margin-right: 31px;
            width: 60px;
            height: 60px;
            display: inline-block;
            position: relative;
        }
        .icon.msg:before {
            content: ' ';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #FF0000;
            top: -1px;
            right: -6px;
        }
        .icon.userinfo {
            background: url(~@/assets/img/my/lists/userinfo@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.team {
            background: url(~@/assets/img/my/lists/team@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.link {
            background: url(~@/assets/img/my/lists/link@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.advice {
            background: url(~@/assets/img/my/lists/advice@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.email {
            background: url(~@/assets/img/my/lists/email@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.notice {
            background: url(~@/assets/img/my/lists/notice@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.rules {
            background: url(~@/assets/img/my/lists/rules@3x.png) no-repeat center;
            background-size: 100%;
        }
        .icon.quit {
            background: url(~@/assets/img/my/lists/quit@3x.png) no-repeat center;
            background-size: 100%;
        }
        .item-rt {
            box-sizing: border-box;
            height: 100%;
            border-bottom: 2px solid #3C458C;
            position: relative;
            .name {
                color: #fff;
                font-size: 30px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                white-space: nowrap;
            }
        }
        .item-rt:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            width: 58px;
            height: 60px;
            right: 0;
            bottom: 11px;
            background: url(~@/assets/img/wallet/icon-right.png) no-repeat center;
            background-size: 100%;
        }
    }
}
.quit {
    background: transparent;
    .count-box {
        width: 640px;
        background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(70,57,207,0.45);
        .title {
            font-size: 48px;
            color: #fff;
            padding-top: 50px;
            padding-bottom: 62px;
            height: 45px;
            line-height: 45px;
        }
        .content {
            width: 562px;
            margin: 0 auto;
            background:rgba(239,245,255,1);
            border:1px solid rgba(239, 245, 255, 1);
            box-shadow:0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
            border-radius:10px;
            margin-bottom: 50px;
            box-sizing: border-box;
            color: #516D9B;
            font-size: 39px;
            padding: 98px 0;
        }
        .sbt-box {
            padding: 0 40px 26px 40px;
            button {
                height: 84px;
                width: 258px;
                font-size: 30px;
            }
        }
    }
}
.bering {
    .count-box .title {
        padding-bottom: 0;
    }
    .tell {
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 24px;
    }
    .content {
        font-size: 37px;
        .c1 { color: #FF6C00; }
        .c2 { color: #000; }
    }
}
