@import './default';
#detail {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
    background-size: 100%;
}
.scroll {
    box-sizing: border-box;
    padding-top: 144px;
    padding-bottom: 100px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
    .scroll-con:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 4px;
        border-top: 4px solid #263082;
        transform-origin: 0 0;
        transform: scaleY(0.5);
    }
}
.trans-box {
    padding: 0 20px;
    padding-top: 15px;
    .item {
        height: 113px;
        background: rgba(18,41,158,0.4);
        border: 2px solid rgba(51, 123, 255, 0.36);
        border-radius: 6px;
        margin-bottom: 16px;
        font-size: 48px;
        position: relative;
        .symbol {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 48px;
            display: block;
        }
        .font-type1 {
            color: #fff;
            font-size: 28px;
            display: block;
            height: 20px;
            line-height: 20px;
            margin: 22px 0;
        }
        .font-type2 { 
            color: #FC00FF;
            height: 36px;
            line-height: 36px;
        }
        .font-type3 {
            color: #FFEA00;
            height: 36px;
            line-height: 36px;
        }
        .more {
            width: 40%;
        }
    }
}
.lists {
    padding-top: 25px;
    padding-left: 21px;
    .item {
        height: 92px;
        .icon {
            margin-right: 12px;
            width: 60px;
            height: 60px;
        }
        .icon.chong {
            background: url(~@/assets/img/wallet/chong.png) no-repeat center;
            background-size: 100%;
        }
        .icon.getcash {
            background: url(~@/assets/img/wallet/getcash.png) no-repeat center;
            background-size: 100%;
        }
        .icon.trans {
            background: url(~@/assets/img/wallet/trans.png) no-repeat center;
            background-size: 100%;
        }
        .icon.buy {
            background: url(~@/assets/img/wallet/buy.png) no-repeat center;
            background-size: 100%;
        }
        .icon.history {
            background: url(~@/assets/img/wallet/history.png) no-repeat center;
            background-size: 100%;
        }
        .icon.delete {
            background: url(~@/assets/img/wallet/delete.png) no-repeat center;
            background-size: 100%;
        }
        .item-rt {
            box-sizing: border-box;
            height: 100%;
            border-bottom: 2px solid #3C458C;
            position: relative;
            .name {
                color: #fff;
                font-size: 30px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                white-space: nowrap;
            }
        }
        .item-rt:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            width: 58px;
            height: 60px;
            right: 0;
            bottom: 11px;
            background: url(~@/assets/img/wallet/icon-right.png) no-repeat center;
            background-size: 100%;
        }
    }
}
.btn-box {
    margin-top: 58px;
    padding: 0 45px;
    button {
        width: 100%;
        height: 88px;
        font-size: 32px;
        color: #fff;
        border-radius: 8px;
        box-shadow: none;
    }
}
.chongPopup {
    background: transparent;
    max-height: 80%;
    .count-box {
        width: 640px;
        background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 7px 0px rgba(70,57,207,0.45);
        .title {
            font-size: 48px;
            color: #fff;
            padding-top: 50px;
            padding-bottom: 62px;
            height: 45px;
            line-height: 45px;
        }
        .input-box {
            width: 562px;
            margin: 0 auto;
            background: #EFF5FF;
            border: 1px solid #EFF5FF;
            box-shadow:0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
            border-radius:10px;
            padding: 0 40px;
            padding-bottom: 46px;
            margin-bottom: 52px;
            box-sizing: border-box;
            .t {
                font-size: 32px;
                color: #0060FF;
                padding: 40px 0 37px 0;
            }
            input {
                width: 100%;
                box-sizing: border-box;
                height: 98px;
                color: #000;
                font-size: 50px;
                text-align: center;
            }
        }
        .sbt-box {
            padding: 0 40px 26px 40px;
            button {
                height: 84px;
                width: 258px;
                font-size: 30px;
            }
        }
    }
    .ercode {
        width: 593px;
        margin: 0 auto;
        position: relative;
        padding: 26px 0 40px 0;
        background: #fff;
        border-radius:0px 0px 10px 10px;
        .t {
            background: #C7D5FF;
            padding: 27px 0;
            color: #2171CB;
            font-size: 24px;
            height: 23px;
            line-height: 23px;
        }
        .img-box {
            width: 244px;
            height: 244px;
            margin:  0 auto;
            margin-top: 34px;
            margin-bottom: 37px;
            background: url(~@/assets/img/wallet/code-bg@3x.png) no-repeat center;
            background-size: 100%;
            position: relative;
            img {
                width: 198px;
                height: 198px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .adr {
            font-size: 24px;
            color: #060536;
            text-align: center;
            margin-bottom: 26px;
        }
        button {
            font-size: 26px;
            color: #11B01C;
            width:226px;
            height: 60px;
            line-height: 60px;
            background: linear-gradient(90deg,rgba(240,255,0,1),rgba(126,255,0,1));
            box-shadow: 0px 4px 6px 0px rgba(25,183,17,0.29);
            border-radius: 4px;
        }
    }
}
.getCash {
    width: 713px;
    background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
    background-size: cover;
    .title {
        font-size: 48px;
        color: #fff;
        padding-top: 33px;
        padding-bottom: 19px;
        height: 45px;
        line-height: 45px;
    }
    .des {
        font-size: 22px;
        color: #fff;
        margin-bottom: 14px;
    }
    .pad {
        padding: 0 45px;
        box-sizing: border-box;
        .input-box {
            width: 626px;
            margin: 0 auto;
            background: #EFF5FF;
            border: 1px solid #EFF5FF;
            box-shadow: 0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
            border-radius:10px;
            padding: 21px;
            box-sizing: border-box;
            input, .input {
                width: 100%;
                box-sizing: border-box;
                height: 96px;
                color: #738BB2;
                font-size: 32px;
                text-align: center;
                margin-bottom: 12px;
                background: #fff;
            }
            .input {
                line-height: 96px;
            }
            input[disabled] {
                background: #fff;
            }
            input.psd {
                margin-bottom: 0;
            }
            .type {
                position: relative;
                .icon-down {
                    display: inline-block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    right: 12px;
                    top: 50%;
                    margin-top: -20px;
                    background: url(~@/assets/img/wallet/icon-down@2x.png) no-repeat center;
                    background-size: 100%;
                }
                .chose {
                    position: absolute;
                    left: 0;
                    top: 86px;
                    width: 100%;
                    background: #fff;
                    box-shadow: 0px 7px 7px 0px rgba(70,57,207,0.32);
                    color: #738BB2;
                    font-size: 32px;
                    padding: 0 15px;
                    box-sizing: border-box;
                    height: 0;
                    overflow: hidden;
                    transition: height linear .2s;
                    .item {
                        height: 76px;
                        line-height: 76px;
                        border-top: 2px solid #EFF5FF;
                    }
                }
            }
            .type.act {
                .icon-down {
                    background: url(~@/assets/img/wallet/icon-up@3x.png) no-repeat center;
                    background-size: 100%;
                }
                .chose {
                    height: auto;
                }
            }
        }
        .text {
            font-size: 26px;
            margin-top: 16px;
            margin-bottom: 17px;
            background: #EFF5FF;
            box-sizing: border-box;
            white-space: nowrap;
            span {
                display: inline-block;
            }
            .c1 {
                color: #FF00A8;
                height: 25px;
                line-height: 25px;
                padding: 22px 0 26px 0;
            }
            .c2 { 
                color: #008CFF;
                height: 20px;
                line-height: 20px;
                padding: 25px 0 28px 0;
            }
            .mar { margin-right: 27px; }
            .mar-no { margin-right: 0; }
        }
        button {
            width: 100%;
            height: 84px;
            font-size: 30px;
        }
        button.get {
            margin-bottom: 37px;
        }
        button.cancel {
            margin-bottom: 44px;
        }
    }
}
.trans {
    .title {
        padding-top: 49px;
        padding-bottom: 41px;
    }
    .pad .input-box {
        margin-bottom: 28px;
    }
}
.buy {
    .des {
        font-size: 24px;
        span {
            color: #FFF000;
        }
    }
    .pad .input-box {
        padding-bottom: 0;
        margin-bottom: 37px;
        .tell {
            color: #1B14AD;
            font-size: 26px;
            padding-top: 35px;
            padding-bottom: 37px;
        }
    }
}
.delete {
    width: 640px;
    .title {
        padding-top: 51px;
        padding-bottom: 63px;
    }
    .tell {
        width: 562px;
        margin: 0 auto;
        color: #516D9B;
        font-size: 32px;
        background: #EFF5FF;
        border: 1px solid rgba(239, 245, 255, 1);
        box-shadow: 0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
        border-radius: 10px;
        padding: 65px 55px;
        box-sizing: border-box;
        margin-bottom: 52px;
        line-height: 50px;
    }
    .sbt-box {
        width: 562px;
        padding-bottom: 26px;
        margin: 0 auto;
        button {
            width: 258px;
            height: 84px;
            font-size: 30px;
            color: #fff;
            border-radius:6px;
        }
    }
}
