@import './default';
#wallet {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
    background-size: 100%;
}
.scroll {
    box-sizing: border-box;
    padding-top: 144px;
    padding-bottom: 100px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
        }
        .add {
            position: absolute;
            bottom: 70px;
            left: 50%;
            margin-left: -330px;
            width: 660px;
            height: 88px;
            font-size: 32px;
            color: #fff;
            border-radius: 8px;
            box-shadow: none;
        }
    }
    .scroll-con:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 4px;
        border-top: 4px solid #263082;
        transform-origin: 0 0;
        transform: scaleY(0.5);
    }
}
.add-wallet {
    padding: 26px 18px 0 18px;
    .item {
        box-sizing: border-box;
        width: 100%;
        height: 120px;
        line-height: 120px;
//      background: rgba(192, 100, 100, .5);
        background: rgba(18, 41, 158, 0.4);
        padding: 0 26px;
        color: #fff;
        font-size: 42px;
        margin-bottom: 10px;
        text-align: left;
    }
    
}
.inputWallet {
    background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    .title {
        font-size: 48px;
        color: #fff;
        height: 46px;
        line-height: 46px;
        padding: 43px 0;
    }
    .pad {
        padding: 0 20px;
    }
    .input-box {
        width: 660px;
        padding: 16px;
        background: #EFF5FF;
        box-sizing: border-box;
        border-radius: 6px;
        &>div {
            margin-bottom: 10px;
        }
        input {
            width: 100%;
            height: 96px;
            background: #fff;
            font-size: 32px;
            color: #738BB2;
            text-align: center;
        }
        &>div:last-child {
            margin-bottom: 0;
        }
    }
    .sbt-box {
        padding: 20px 0;
        button {
            width: 660px;
            height: 84px;
            font-size: 32px;
        }
        .register {
            margin-bottom: 20px;
        }
    }
}
