@import './default';
#history {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
    background-size: 100%;
}
.scroll {
    box-sizing: border-box;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    table {
        width: 100%;
        font-size: 28px;
        color: #fff;
        tr {
            height: 68px;
            line-height: 68px;
            border-top: 2px solid #263082;
        }
        tr:last-child {
            border-bottom: 2px solid #263082;
        }
        .head {
            height: 90px;
            line-height: 90px;
        }
    }
    .chose-date {
        width: 660px;
        height: 88px;
        position: fixed;
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
        border-radius: 8px;
        font-size: 32px;
        color: #fff;
    }
}
.date {
    width: 640px;
    background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(70,57,207,0.45);
    padding: 32px 40px 50px 40px;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    input, .input {
        height: 70px;
        line-height: 70px;
        background: rgba(239,245,255,1);
        border: 1px solid rgba(239, 245, 255, 1);
        box-shadow: 0px 2px 0px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
        border-radius: 10px;
    }
    .range-date {
        position: relative;
        text-align: left;
        margin-bottom: 32px;
        &>div {
            width: 230px;
        }
        .input {
            width: 100%;
            margin-top: 11px;
            color: #0024FF;
            font-size:28px;
            text-align: center;
        }
        .line {
            background: #fff;
            display: inline-block;
            width: 40px;
            height: 4px;
            position: absolute;
            border-radius:2px;
            left: 50%;
            bottom: 35px;
            transform: translateX(-50%);
        }  
    }
    .input-box-type1 {
        text-align: left;
        margin-bottom: 32px;
        input {
            text-align: center;
            width: 100%;
            margin-top: 11px;
            color: #0024FF;
        }
        ::-webkit-input-placeholder { color: #B1B3DB; }
        :-ms-input-placeholder { color: #B1B3DB; }
        ::-moz-placeholder { color: #B1B3DB; }
        :-moz-placeholder { color: #B1B3DB; }
    }
    .input-box-type2 {
        text-align: left;
        margin-bottom: 32px;
        .sub {
            margin-top: 11px;
        }
        .input {
            width: 230px;
            color: #8083BD;
            text-align: center;
        }
        .input.act {
            color: #0024FF;
        }
    }
    .sbt-box {
        button {
            height: 84px;
            width: 258px;
            border-radius:6px;
        }
    }
}
.date-picker {
    position: fixed;
    z-index: 3000;
    left: 0;
    width: 100%;
    transition: bottom linear .3s;
}
.date-picker.act {
    bottom: 0;
}
