<template>
  <div id="detail">
    <vhead :title="$t('walletDt.title')" :right="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="trans-box bold">
            <div class="item flexBox flexBetween">
              <div class="more">
                <span class="font-type1">ETH:</span>
                <div class="font-type2">{{detail.eth_num}}</div>
              </div>
              <div class="more">
                <span class="font-type1">RMB:</span>
                <div class="font-type3">{{detail.eth_rmb}}</div>
              </div>
              <div class="symbol">≈</div>
            </div>
            <div class="item flexBox flexBetween">
              <div class="more">
                <span class="font-type1">ROFK:</span>
                <div class="font-type2">{{detail.rofk_num}}</div>
              </div>
              <div class="more">
                <span class="font-type1">RMB:</span>
                <div class="font-type3">{{detail.rofk_rmb}}</div>
              </div>
              <div class="symbol">=</div>
            </div>
            <div class="item flexBox flexBetween">
              <div class="more">
                <span class="font-type1">{{$t('walletDt.block')}}:</span>
                <div class="font-type2">{{detail.block_num}}</div>
              </div>
              <div class="more">
                <span class="font-type1">{{$t('walletDt.blockval')}}</span>
                <div class="font-type3">{{detail.block_value}}ETH</div>
              </div>
            </div>
          </div>
          <!---->
          <div class="lists">
            <div class="item flexBox flexAlignCenter" v-for="(item, index) in lists" :key="index" @click="operate(item, index)">
              <span class="icon" :class="item.cls"></span>
              <div class="item-rt flex1">
                <span class="name bold">
                  {{index===0?$t('walletDt.l1'):(index===1?$t('walletDt.l2'):(index===2?$t('walletDt.l3'):(index===3?$t('walletDt.l4'):(index===4?$t('walletDt.l5'):($t('walletDt.l6'))))))}}
                </span>
              </div>
            </div>
          </div>
          <div class="btn-box bold">
            <button type="button" class="btn-red" @click="back">{{$t('message.back')}}</button>
          </div>
        </div>
      </div>
    </div>
    <vfoot :active="1"></vfoot>
    <!--充值-->
    <van-popup v-model="chong.show" class="chongPopup">
      <div class="count-box">
        <p class="bold title">充值ETH</p>
        <div class="input-box">
          <p class="t">请输入充值以太坊的个数</p>
          <input type="number" class="bold" v-model="chong.count"/>
        </div>
        <div class="sbt-box flexBox flexBetween">
          <button type="button" class="btn-blue vbutton" @click="chong.show = !chong.show">取消</button>
          <button type="button" class="btn-red vbutton" @click="confirmChong">确定</button>
        </div>
      </div>
      <div class="ercode" v-show="chong.codeshow">
        <p class="t bold">请打开imToken将2个ETH转入该地址以完成充值</p>
        <div class="img-box"><img :src="chong.codeimg" alt="" /></div>
        <p class="adr">钱包地址：{{chong.code}}</p>
        <button id="tag-copy"
          :data-clipboard-text="chong.code"
          type="button" class="copy" @click="copy">点击复制</button>
      </div>
    </van-popup>
    <van-popup v-model="getcash.show" class="getCash">
      <p class="bold title">提现</p>
      <p class="des">(提现将扣取0.5%矿工费)</p>
      <div class="pad">
        <div class="input-box">
          <div class="type" :class="getcash.choseShow?'act':''">
            <input type="text" class="input-BB2" placeholder="提现类型" disabled="disabled" v-model="getcash.type"/>
            <span class="icon-down" @click="toggleShowchose('getcash')"></span>
            <div class="chose">
              <div v-for="(item, index) in getcash.choseType" :key="index" class="item"
                @click="toggleDochose('getcash', item)"
                >
                {{item.name}}
              </div>
            </div>
          </div>
          <input type="number" class="input-BB2" placeholder="提现数量" v-model="getcash.count"/>
          <input type="password" class="input-BB2 psd" placeholder="交易密码" v-model="getcash.psd"/>
        </div>
        <div class="text">
          <span class="c1">本次收取矿工费：</span><span class="c2 mar">0.05ETH</span><span class="c1">实际到账：</span><span class="c2 mar-no">9.95ETH</span>
        </div>
        <button type="button" class="vbutton btn-red bold get" @click="getcashConfirm">确认提现</button>
        <button type="button" class="vbutton btn-blue bold cancel" @click="cancelGetcash">取消</button>
      </div>
    </van-popup>
    <!--转账-->
    <van-popup v-model="trans.show" class="getCash trans">
      <p class="bold title">转账</p>
      <div class="pad">
        <div class="input-box">
          <div class="type" :class="trans.choseShow?'act':''">
            <div class="input">{{trans.type}}</div>
            <!--<input type="text" class="input-BB2" placeholder="转账类型" disabled="disabled" v-model="trans.type"/>-->
            <span class="icon-down" @click="toggleShowchose('trans')"></span>
            <div class="chose">
              <div v-for="(item, index) in trans.choseType" :key="index" class="item"
                @click="toggleDochose('trans', item)"
                >
                {{item.name}}
              </div>
            </div>
          </div>
          <input type="text" class="input-BB2" placeholder="收款账户名称" v-model="trans.name"/>
          <input type="text" class="input-BB2" placeholder="收款钱包地址" v-model="trans.adr"/>
          <input type="text" class="input-BB2" placeholder="请输入数量" v-model="trans.count"/>
          <input type="password" class="input-BB2 psd" placeholder="交易密码" v-model="trans.psd"/>
        </div>
        <button type="button" class="vbutton btn-red bold get" @click="transConfirm">确认转账</button>
        <button type="button" class="vbutton btn-blue bold cancel" @click="cancelTrans">取消</button>
      </div>
    </van-popup>
    <!--buy-->
    <van-popup v-model="buy.show" class="getCash buy">
      <p class="bold title">当前领导人：<span>{{buy.leader}}</span></p>
      <p class="des">目前门票价格：<span>0.2元/张</span></p>
      <div class="pad">
        <div class="input-box">
          <input type="number" class="input-BB2" placeholder="购买数量" v-model="buy.count"/>
          <input type="password" class="input-BB2 psd" placeholder="交易密码" v-model="buy.psd"/>
          <p class="tell">购买XXXX张门票，将会扣除XXX ETH。</p>
        </div>
        <button type="button" class="vbutton btn-red bold get" @click="buyConfirm">点击申请购买</button>
        <button type="button" class="vbutton btn-blue bold cancel" @click="cancelBuy">取消</button>
      </div>
    </van-popup>
    <!--删除-->
    <van-popup v-model="deleteWallet.show" class="getCash delete">
      <p class="bold title">删除钱包</p>
      <div class="tell">
        是否确定删除钱包？ <br />删除后钱包余额将无法恢复！ <br />请仔细检查。
      </div>
      <div class="sbt-box flexBox flexBetween">
        <button type="button" class="btn-blue" @click="deleteWallet.show = false">取消</button>
        <button type="button" class="btn-red" @click="confirmDelete">确定</button>
      </div>
    </van-popup>
  </div>
</template>

<script>
import Clipboard from 'clipboard'
import HttpWallet from '@/service/wallet'
export default {
  data () {
    return {
      lists: [
        { cls: 'chong', name: '充值ETH' },
        { cls: 'getcash', name: '提现到imtoken钱包' },
        { cls: 'trans', name: '转账' },
        { cls: 'buy', name: '购买ROFK' },
        { cls: 'history', name: '交易记录' },
        { cls: 'delete', name: '删除这个钱包' }
      ],
      chong: {
        show: false,
        codeshow: false,
        count: '',
        code: '',
        codeimg: ''
      },
      getcash: {
        show: false,
        choseShow: false,
        // choseType: [ 'ETH(以太坊)', 'ROFK(门票)' ],
        choseType: [
          { name: 'ETH(以太坊)', type: 1 }, { name: 'ROFK(门票)', type: 2 }
        ],
        type: '',
        typeVal: '',
        count: '',
        psd: ''
      },
      trans: {
        show: false,
        choseShow: false,
        choseType: [ { name: 'ETH(以太坊)', type: 1 }, { name: 'ROFK(门票)', type: 2 } ],
        type: '转账类型',
        typeVal: '',
        name: '',
        adr: '',
        psd: '',
        count: ''
      },
      buy: {
        show: false,
        leader: 'ADMINM',
        count: '',
        psd: ''
      },
      deleteWallet: {
        show: false
      },
      detail: {
        eth_num: '',
        eth_rmb: '',
        rofk_num: '',
        rofk_rmb: '',
        block_num: '',
        block_value: '',
        fee_rate: ''
      }
    }
  },
  created () {
    // console.log(this.$route.params.id)
    HttpWallet.detail({
      wallet_id: this.$route.params.id
    }).then((res) => {
      if (res) {
        // console.log(res)
        this.detail = {
          eth_num: res.eth_info.eth_num,
          eth_rmb: res.eth_info.eth_rmb_value,
          rofk_num: res.rofk_info.rofk_num,
          rofk_rmb: res.rofk_info.rofk_rmb_value,
          block_num: res.block_info.block_num,
          block_value: res.block_info.block_eth_value,
          fee_rate: res.configs.wallet_withdrawal_fee_rate
        }
      }
    })
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    operate (item) {
      if (item.cls === 'chong') {
        this.chong.show = true
      } else if (item.cls === 'getcash') {
        this.getcash.show = true
      } else if (item.cls === 'trans') {
        this.trans.show = true
      } else if (item.cls === 'buy') {
        this.buy.show = true
        this.buy.count = ''
        this.buy.psd = ''
      } else if (item.cls === 'history') {
        this.$router.push({
          name: 'walletHistory',
          query: {
            id: this.$route.params.id
          }
        })
      } else if (item.cls === 'delete') {
        this.deleteWallet.show = true
      }
    },
    // chong
    confirmChong () {
      if (!this.chong.count) {
        global.vbus.$emit('toast_show', '请输入充值以太坊的个数')
        return false
      }
      HttpWallet.rechargeEth({
        wallet_id: this.$route.params.id,
        eth_num: this.chong.count
      }).then((res) => {
        if (res) {
          this.chong.codeshow = true
          this.getCode()
        }
      })
    },
    // 获取二维码
    getCode () {
      HttpWallet.getimtokenInfo({}).then((res) => {
        if (res) {
          this.chong.codeimg = res.sys_wallet_qrcode
          this.chong.code = res.sys_wallet_address
        }
      })
    },
    copy () {
      const clipboard = new Clipboard('#tag-copy')
      clipboard.on('success', e => {
        global.vbus.$emit('toast_show', '复制成功')
        this.chong.show = false
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        global.vbus.$emit('toast_show', '该浏览器不支持自动复制')
        clipboard.destroy()
      })
    },
    // getcash
    cancelGetcash () {
      this.getcash.show = false
    },
    toggleShowchose (type) {
      if (type === 'getcash') {
        this.getcash.choseShow = !this.getcash.choseShow
      } else if (type === 'trans') {
        this.trans.choseShow = !this.trans.choseShow
      }
    },
    toggleDochose (type, item) {
      if (type === 'getcash') {
        this.getcash.choseShow = false
        this.getcash.type = item.name
        this.getcash.typeVal = item.type
      } else if (type === 'trans') {
        this.trans.choseShow = false
        this.trans.type = item.name
        this.trans.typeVal = item.type
      }
    },
    getcashConfirm () {
      if (!this.getcash.type) {
        global.vbus.$emit('toast_show', '请选择取现类型')
        return false
      } else if (!this.getcash.count) {
        global.vbus.$emit('toast_show', '请输入提现数量')
        return false
      } else if (!this.getcash.psd) {
        global.vbus.$emit('toast_show', '请输入交易密码')
        return false
      }
      console.log({
        type: this.getcash.typeVal,
        c: this.getcash.count,
        psd: this.getcash.psd
      })
      HttpWallet.getCash({
        wtype: this.getcash.typeVal,
        num: this.getcash.count,
        trade_password: this.getcash.psd,
        wallet_id: this.$route.params.id
      }).then((res) => {
        if (res) {
          this.getcash.show = false
          global.vbus.$emit('toast_show', '取现成功')
          this.getcash.type = ''
          this.getcash.count = ''
          this.getcash.psd = ''
        }
      })
    },
    // trans
    cancelTrans () {
      this.trans.show = false
    },
    transConfirm () {
      if (!this.trans.type) {
        global.vbus.$emit('toast_show', '请选择转账类型')
        return false
      } else if (!this.trans.name) {
        global.vbus.$emit('toast_show', '请输入收款账户名称')
        return false
      } else if (!this.trans.adr) {
        global.vbus.$emit('toast_show', '请输入收款钱包地址')
        return false
      } else if (!this.trans.psd) {
        global.vbus.$emit('toast_show', '请输入交易密码')
        return false
      }
      HttpWallet.transfer({
        // 转账类型，1=ETH（以太坊），2=ROFK（门票）
        wtype: this.trans.typeVal,
        username: this.trans.name,
        token_url: this.trans.adr,
        trade_password: this.trans.psd,
        wallet_id: this.$route.params.id,
        num: this.trans.count
      }).then((res) => {
        if (res) {
          global.vbus.$emit('toast_show', '转账成功')
          this.trans = {
            show: false,
            choseShow: false,
            choseType: [ 'ETH(以太坊)', 'ROFK(门票）' ],
            type: '转账类型',
            typeVal: '',
            name: '',
            adr: '',
            psd: '',
            count: ''
          }
        }
      })
    },
    // buy
    buyConfirm () {
      if (!this.buy.count) {
        global.vbus.$emit('toast_show', '请输入购买数量')
        return false
      } else if (!this.buy.psd) {
        global.vbus.$emit('toast_show', '请输入交易密码')
        return false
      }
      HttpWallet.buyROFK({
        num: this.buy.count,
        trade_password: this.buy.psd,
        wallet_id: this.$route.params.id
      }).then((res) => {
        if (res) {
          console.log(res)
          this.buy.show = false
          this.buy.count = ''
          this.buy.psd = ''
          global.vbus.$emit('toast_show', '购买成功')
        }
      })
    },
    cancelBuy () {
      this.buy.show = false
    },
    // delete
    confirmDelete () {
      HttpWallet.delete({
        id: this.$route.params.id
      }).then((res) => {
        if (res) {
          global.vbus.$emit('toast_show', '删除成功')
          this.$router.go(-1)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/wallet-detail.scss">
</style>
