<template>
  <div id="history">
    <vhead :title="'交易记录'" :left="true"></vhead>
    <div class="scroll">
      <table>
        <tr class="head">
          <td><div class="sender">转出方</div></td>
          <td><div class="recever">接收方</div></td>
          <td><div class="ctype">交易类型</div></td>
          <td><div class="mtype">货币类型</div></td>
          <td><div class="cash">金额</div></td>
          <td><div class="fee">矿工费</div></td>
        </tr>
        <tr v-for="(item, index) in data" :key="index">
          <td><div class="sender">{{item.from_username}}</div></td>
          <td><div class="recever">{{item.to_username}}</div></td>
          <td><div class="ctype">{{item.trade_type_text}}</div></td>
          <td><div class="mtype">{{item.wtype_text}}</div></td>
          <td><div class="cash">{{item.num}}</div></td>
          <td><div class="fee">{{item.fee}}</div></td>
        </tr>
      </table>
      <button class="chose-date btn-red bold" @click="chosedate">筛选/日期选择/查找</button>
    </div>
    <van-popup v-model="modal.show" class="date bold">
      <div class="range-date flexBox flexBetween">
        <div>
          <span>开始时间：</span>
          <div class="input" @click="togglePicker(true, 's')">{{modal.start}}</div>
        </div>
        <div>
          <span>结束时间：</span>
          <div class="input" @click="togglePicker(true, 'e')">{{modal.end}}</div>
        </div>
        <span class="line"></span>
      </div>
      <div class="input-box-type1">
        <span>转出方：</span>
        <input type="text" placeholder="请输入转出方地址" v-model="modal.sender"/>
      </div>
      <div class="input-box-type1">
        <span>接收方：</span>
        <input type="text" placeholder="请输入接收方地址" v-model="modal.receiver"/>
      </div>
      <div class="input-box-type2">
        <span>交易类型：</span>
        <div class="sub flexBox flexBetween">
          <div class="input" v-for="(item, index) in transtype" :class="index===modal.trans?'act':''" :key="index" @click="choseTranstype(index)">{{item}}</div>
        </div>
      </div>
      <div class="input-box-type2">
        <span>货币类型：</span>
        <div class="sub flexBox flexBetween">
          <div class="input" v-for="(item, index) in cointype" :class="index===modal.coin?'act':''" :key="index" @click="choseCointype(index)">{{item}}</div>
        </div>
      </div>
      <div class="input-box-type1">
        <span>交易金额：</span>
        <input type="number" placeholder="请输入金额" v-model="modal.cash"/>
      </div>
      <div class="sbt-box flexBox flexBetween">
        <button type="button" class="btn-blue" @click="modal.show = !modal.show">取消</button>
        <button type="button" class="btn-red" @click="search">搜索</button>
      </div>
    </van-popup>
    <van-datetime-picker
      v-model="currentDate"
      type="date"
      class="date-picker bold"
      :class="pickerShow?'act':''"
      @cancel="togglePicker(false)"
      @confirm="confirmDate"
    />
  </div>
</template>

<script>
import HttpWallet from '@/service/wallet'
export default {
  data () {
    return {
      data: [
        // { sender: '我的地址', recever: '按时大大', ctype: '充值', mtype: 'ETH', cash: 1, fee: 0 },
        // { sender: '我的地址', recever: '按时大大', ctype: '充值', mtype: 'ETH', cash: 1, fee: 0 }
      ],
      modal: {
        show: false,
        start: '',
        end: '',
        sender: '',
        receiver: '',
        trans: 0,
        coin: 0,
        cash: ''
      },
      transtype: [ '提现', '充值' ],
      cointype: [ 'ETH', 'ROFK' ],
      currentDate: new Date(),
      pickerShow: false,
      markTimetype: '',
      timestart: '',
      timeend: '',
      timecur: '',
      searchinfo: {}
    }
  },
  created () {
    let d = new Date()
    let t = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate()
    this.timestart = d.getTime()
    this.timeend = d.getTime()
    this.modal.start = t
    this.modal.end = t
    this.timecur = t
    this.getList(this.searchinfo)
    /* {"token_url":"aaa","to_token_url":"bbb","trade_type":1,"wtype":1,"trade_num":10,"create_time_start":"2019-3-1 8:12:30","create_time_end":"2019-3-5 8:12:30"}
    token_url: 转出方地址
    to_token_url:接收方地址
    trade_type: 交易类型，1=提现，2=充值,
    wtype: 货币类型，1=ETH,2=ROFK,
    trade_num: 金额,
    create_time_start: 开始时间,
    create_time_end: 结束时间 */
  },
  methods: {
    chosedate () {
      this.modal.show = true
    },
    choseTranstype (index) {
      this.modal.trans = index
    },
    choseCointype (index) {
      this.modal.coin = index
    },
    getList (search) {
      HttpWallet.chHistory({
        wid: this.$route.query.id,
        page: 1,
        search: JSON.stringify(search)
      }).then((res) => {
        if (res) {
          this.data = res.lists
          this.modal = {
            show: false,
            start: this.timecur,
            end: this.timecur,
            sender: '',
            receiver: '',
            trans: 0,
            coin: 0,
            cash: ''
          }
        }
      })
    },
    search () {
      if (!this.modal.sender) {
        global.vbus.$emit('toast_show', '请输入转出方地址')
        return false
      } else if (!this.modal.receiver) {
        global.vbus.$emit('toast_show', '请输入接收方地址')
        return false
      } else if (!this.modal.cash) {
        global.vbus.$emit('toast_show', '请输入金额')
        return false
      }
      this.searchinfo = {
        token_url: this.modal.sender,
        to_token_url: this.modal.receiver,
        trade_type: this.modal.trans + 1,
        // 交易类型，1=提现，2=充值,
        wtype: this.modal.coin + 1,
        // 货币类型，1=ETH,2=ROFK,
        trade_num: this.modal.cash,
        create_time_start: this.modal.start,
        create_time_end: this.modal.end
      }
      this.getList(this.searchinfo)
    },
    togglePicker (b, type) {
      this.pickerShow = b
      this.markTimetype = type
    },
    confirmDate (value) {
      let d = new Date(value)
      let str = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate()
      if (this.markTimetype === 's') {
        if (d.getTime() > this.timeend) {
          global.vbus.$emit('toast_show', '开始时间不能大于结束时间')
          return false
        }
        this.modal.start = str
        this.timestart = d.getTime()
      } else if (this.markTimetype === 'e') {
        if (this.timestart > d.getTime()) {
          global.vbus.$emit('toast_show', '结束时间不能小于开始时间')
          return false
        }
        this.modal.end = str
        this.timeend = d.getTime()
      }
      console.log(value)
      this.pickerShow = false
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/wallet-history.scss">
</style>
