<template>
  <div id="wallet">
    <vhead :title="$t('wallet.title')" :right="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="add-wallet">
            <div class="item" v-for="(item, index) in wallet.vals" :key="index" @click="jump(item)">{{item.token_url}}</div>
          </div>
        </div>
        <button type="button" class="add btn-red" @click="add">{{$t('wallet.btn')}}</button>
      </div>
    </div>
    <vfoot :active="1"></vfoot>
    <van-popup v-model="wallet.addPopup" class="inputWallet">
      <p class="title bold">添加钱包</p>
      <div class="pad">
        <div class="input-box">
          <div><input class="input-BB2" type="text" v-model="wallet.adr" placeholder="请输入iomToken地址"/></div>
          <div><input class="input-BB2" type="password" v-model="wallet.psd" placeholder="设置交易密码"/></div>
          <div><input class="input-BB2" type="password" v-model="wallet.cofpsd" placeholder="重复交易密码"/></div>
        </div>
        <div class="sbt-box">
          <button type="button" class="vbutton btn-red register" @click="register">点击注册</button>
          <button type="button" class="vbutton btn-blue close" @click="wallet.addPopup = !wallet.addPopup">关闭</button>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import HttpWallet from '@/service/wallet'
export default {
  data () {
    return {
      wallet: {
        vals: [ 'sssdfasdasdasdad', 'asdasdjjfjfjfjjfjf' ],
        addPopup: false,
        adr: '',
        psd: '',
        cofpsd: ''
      }
    }
  },
  created () {
    HttpWallet.getWallets({
      page: ''
    }).then((res) => {
      if (res) {
        // console.log(res)
        this.wallet.vals = res.lists
        // this.wallet.vals = [{ id: 1, token_url: 'canyoudo' }, { id: 2, token_url: 'canyoudo123123' }]
      }
    })
  },
  methods: {
    add () {
      this.wallet.adr = ''
      this.wallet.psd = ''
      this.wallet.cofpsd = ''
      this.wallet.addPopup = true
    },
    register () {
      if (!this.wallet.adr) {
        global.vbus.$emit('toast_show', '请输入iomToken地址')
        return false
      } else if (!this.wallet.psd) {
        global.vbus.$emit('toast_show', '设置交易密码')
        return false
      } else if (!this.wallet.cofpsd) {
        global.vbus.$emit('toast_show', '重复交易密码')
        return false
      } else if (this.wallet.psd !== this.wallet.cofpsd) {
        global.vbus.$emit('toast_show', '重置密码有误')
        return false
      }
      HttpWallet.add({
        token_url: this.wallet.adr,
        trade_password: this.wallet.psd,
        re_trade_password: this.wallet.cofpsd
      }).then((res) => {
        if (res) {
          this.wallet.vals.unshift({
            id: res.id,
            token_url: this.wallet.adr
          })
        }
      })
      this.wallet.addPopup = false
    },
    jump (item) {
      this.$router.push({
        name: 'walletDetail',
        params: { id: item.id }
      })
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/wallet.scss">
</style>
