<template>
  <div class="vcollapse">
    <div v-for="(item, index) in data" :key="index" class="item">
      <p class="title" :class="index==act?'act':''" @click="toggle(item, index)">第{{index+1}}期{{item.time}}</p>
      <div class="detail" v-show="index==act" :class="index==act?'act':''" :style='"height: "+item.h?item.h:0+"px"'>
        <div class="s-title">本期中奖名单</div>
        <div class="names flexBox">
          <span v-for="(sitem, sindex) in item.names" :key="sindex">{{sitem}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array
    },
    active: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      act: ''
    }
  },
  crated () {
    this.act = this.active
  },
  mounted () {
    //
  },
  methods: {
    toggle (item, index) {
      item.h = 0
      this.act = index
    }
  }
}
</script>

<style lang="scss" scoped>
.vcollapse {
  background: #fff;
  .title {
    background: #00CCFF;
    color: #000;
    margin-bottom: 10px;
    border-radius: 18px;
    height: 50px;
  }
  .item:last-child {
    padding-bottom: 10px;
  }
  .item:last-child .title {
    margin-bottom: 0;
  }
  .title.active {
    color: #fff;
    background: red;
  }
  .detail {
    overflow: hidden;
    will-change: height;
    transition: height linear .3s;
    .s-title {
      /**/
    }
    .names {
      flex-wrap: wrap;
      span {
        width: 25%;
      }
    }
  }
}
</style>
