<template>
  <div class="header" :class="shadow?'shadow':''">
    <div class="physics-state"></div>
    <div class="content">
      <button class="back" v-if="left" @click="back"></button>
      <span class="title bold">{{title}}</span>
      <slot name="rightCustom"></slot>
      <div class="rchose" @click="toggleRchose" v-if="right">
        <div class="rchose-type" v-show="rightChose">
          <div @click="choseLanguage" class="lang">切换语言</div>
          <div @click="viewRules">规则说明</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    left: {
      type: Boolean,
      default: false
    },
    right: {
      type: Boolean,
      default: false
    },
    shadow: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      rightChose: false
    }
  },
  methods: {
    toggleRchose () {
      this.rightChose = !this.rightChose
    },
    choseLanguage () {
      let locale = this.$i18n.locale
      locale === 'zh' ? this.$i18n.locale = 'en' : this.$i18n.locale = 'zh'
    },
    viewRules () {
      this.$router.push('/rules')
    },
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.physics-state {
  height: 44px;
}
.header {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.header.shadow {
  box-shadow:0px 2px 0px 0px rgba(38,48,130,1);
}
.content {
  height: 100px;
  line-height: 100px;
  color: #fff;
  font-size: 36px;
  position: relative;
  .back, .rchose {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .back {
    width: 57px;
    height: 66px;
    left: 15px;
    background: url(~@/assets/img/head/icon-back@2x.png) no-repeat center;
    background-size: 19px 33px;
    z-index: 1000;
  }
  .rchose {
    z-index: 10;
    width: 34px;
    height: 34px;
    right: 20px;
    background: url(~@/assets/img/head/icon-type.png) no-repeat center;
    background-size: 100%;
    .rchose-type {
      background: rgba(18,24,102,0.95);
      border-radius: 10px;
      position: absolute;
      color: #fff;
      width: 188px;
      box-sizing: border-box;
      padding: 0 21px;
      top: 50px;
      right: 158px;
      font-size: 22px;
      position: relative;
      &>div {
        height: 56px;
        line-height: 58px;
      }
      .lang {
        border-bottom: 2px solid #363C89;
      }
    }
    .rchose-type:after {
      content: ' ';
      width: 20px;
      height: 11px;
      position: absolute;
      background: url(~@/assets/img/head/jiao@2x.png) no-repeat center;
      background-size: 100%;
      top: -10px;
      right: 8px;
    }
  }
}
</style>
