<template>
  <div id="header">
    <div class="physics-state"></div>
    <div class="head-img">
      <img v-show="!head.url" src="~@/assets/img/my/user-default-headimg.png" alt="loading" />
      <img v-show="head.url" :src="head.url" alt="" />
      <div class="rchose" @click="toggleRchose">
        <div class="rchose-type" v-show="rightChose">
          <div @click="choseLanguage" class="lang">切换语言</div>
          <div @click="viewRules">规则说明</div>
        </div>
      </div>
    </div>
    <p class="name bold">{{head.name}}</p>
    <p class="level">级别：{{head.level}}</p>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      head: {
        url: '',
        name: '',
        id: '',
        level: ''
      },
      rightChose: false
    }
  },
  created () {
    HttpMy.team({}).then((res) => {
      if (res) {
        let user = res.userinfo
        this.head = {
          url: user.headimgurl,
          name: user.username,
          id: user.uid,
          level: user.level
        }
      }
    })
  },
  mounted () {
    //
  },
  methods: {
    toggleRchose () {
      this.rightChose = !this.rightChose
    },
    choseLanguage () {
      let locale = this.$i18n.locale
      locale === 'zh' ? this.$i18n.locale = 'en' : this.$i18n.locale = 'zh'
    },
    viewRules () {
      this.$router.push('/rules')
    }
  }
}
</script>

<style lang="scss" scoped>
.physics-state {
  height: 44px;
}
#header {
  position: relative;
  background: url(~@/assets/img/my/head_bg.png) no-repeat top center;
  background-size: 100%;
  color: #fff;
  padding-bottom: 42px;
}
.head-img {
  padding: 50px 0 25px 0;
  position: relative;
  img {
    width: 180px;
    height: 180px;
  }
}
.rchose {
    position: absolute;
    top: 36px;
    z-index: 10;
    width: 34px;
    height: 34px;
    right: 20px;
    background: url(~@/assets/img/head/icon-type.png) no-repeat center;
    background-size: 100%;
    .rchose-type {
        background: rgba(18,24,102,0.95);
        border-radius: 10px;
        position: absolute;
        color: #fff;
        width: 188px;
        box-sizing: border-box;
        padding: 0 21px;
        top: 50px;
        right: 158px;
        font-size: 22px;
        position: relative;
        &>div {
          height: 56px;
          line-height: 58px;
        }
        .lang {
          border-bottom: 2px solid #363C89;
        }
    }
    .rchose-type:after {
      content: ' ';
      width: 20px;
      height: 11px;
      position: absolute;
      background: url(~@/assets/img/head/jiao@2x.png) no-repeat center;
      background-size: 100%;
      top: -12px;
      right: 8px;
    }
}
.name {
  font-size: 34px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 17px;
}
.level {
  font-size:24px;
  height: 44px;
  line-height: 46px;
  width: 215px;
  margin: 0 auto;
  background: url(~@/assets/img/my/level_bg.png) no-repeat center;
  background-size: 100%;
}
</style>
