<template>
  <div class="footer flexBox" :class="hastopborder?'border':''">
    <div v-for="(item, index) in nav" :key="index" class="flex1 flexBox flexAlignCenter flexJustifyCenter" :class="[index==active?'act':'', item.cls]">
      <div @click="jump(item, index)">
        <span class="icon"></span>
        <div class="name bold">{{item.name}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Number,
      default: 0
    },
    hastopborder: {
      type: Boolean
    }
  },
  data () {
    return {
      act: 0,
      nav: [
        { name: '社区', cls: 'home' },
        { name: '钱包', cls: 'wallet' },
        { name: '我的', cls: 'my' }
      ]
    }
  },
  methods: {
    jump (item, index) {
      if (index !== this.active) {
        if (item.cls === 'home') {
          this.$router.push('/')
        } else if (item.cls === 'wallet') {
          if (!localStorage.HEROUSERINFO) {
            this.$router.push('/login')
            return false
          }
          this.$router.push('/wallet')
        } else if (item.cls === 'my') {
          this.$router.push('/my')
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.border {
  border-top: 2px solid #3C458C;
}
.footer {
  background: transparent;
  color: #fff;
  height: 100px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
  }
  .home .icon {
    background: url(~@/assets/img/home_light1@3x.png) no-repeat center;
    background-size: 100%;
  }
  .home.act .icon {
    background: url(~@/assets/img/home_fill@3x.png) no-repeat center;
    background-size: 100%;
  }
  .wallet .icon {
    background: url(~@/assets/img/goods_light@3x.png) no-repeat center;
    background-size: 100%;
  }
  .wallet.act .icon {
    background: url(~@/assets/img/goods_fill1@3x.png) no-repeat center;
    background-size: 100%;
  }
  .my .icon {
    background: url(~@/assets/img/people@3x.png) no-repeat center;
    background-size: 100%;
  }
  .my.act .icon {
    background: url(~@/assets/img/people_fill@3x.png) no-repeat center;
    background-size: 100%;
  }
  .name {
    font-size: 18px;
    color: #fff;
  }
  .act .name {
    color: #00F6FF;
    background-image: -webkit-gradient(linear, left 0, right 0, from(#00F6FF), to(#6577FF));
    -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
    -webkit-text-fill-color: transparent;
  }
}
</style>
