<template>
	<div id="app" :class="isAndroid?'isAndroid':''">
		<keep-alive :exclude="excludeArr">
				<router-view v-if="$route.meta.keepAlive" class="child-view"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive" class="child-view"></router-view>
		<Loading v-if="loadingStauts"></Loading>
	</div>
</template>

<script>
import Loading from '@/components/Loading/Loading'
import { mapMutations, mapState } from 'vuex'
import { isAndroid } from '@/module/common'
export default {
  name: 'App',
  data () {
    return {
      loadingStauts: false,
      isAndroid: false
    }
  },
  created () {
    this.setUserInfo()
    this.bindEvent()
    this.isAndroid = isAndroid()
  },
  computed: {
    ...mapState(['excludeArr'])
  },
  methods: {
    bindEvent () {
      global.vbus.$on('toast_show', resData => {
        this.$toast(resData)
      })
      global.vbus.$on('loading_show', status => {
        this.loadingStauts = status
      })
    },
    setUserInfo () {
      let token = this.getQueryString('token') || null
      let userId = this.getQueryString('userId') || null
      if (token && token !== 'null') {
        this.muUserMetaInfo({
          token: token, // 安卓这里是tokenID
          userId: userId
        })
      }
    },
    ...mapMutations(['muUserMetaInfo'])
  },
  components: {
    Loading
  }
}
</script>
<style lang='scss'>
@import "assets/scss/base.scss";
@import "assets/scss/mixin.scss";
</style>
<style>
#app {
  font-family: "PingFangSC-Medium", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /*padding: constant(safe-area-inset-top) constant(safe-area-inset-right)
    constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);*/
}
.bold {
  font-family: 'PingFangSC-Bold';
}
.isAndroid {
  font-weight: 500;
}
.isAndroid .bold {
  font-weight: 800;
}
img {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.vbutton {
  color: #fff;
  border-radius: 6px;
}
.btn-red {
  background: linear-gradient(90deg,rgba(255,0,222,1),rgba(255,90,0,1));
  box-shadow: 0px 3px 13px 0px rgba(255,22,176,1), 1px -1px 1px 0px rgba(255,255,255,0.66);
}
.btn-blue {
  background: linear-gradient(-90deg,rgba(152,116,255,1),rgba(0,198,234,1));
  box-shadow: 0px 3px 13px 0px rgba(0,151,237,1), 1px -2px 1px 0px rgba(255,255,255,0.08);
}
</style>
