<template>
  <div class="container">
    <vhead :title="'找回密码'"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad-75">
            <div class="item user">
              <span class="icon"></span>
              <input type="text" placeholder="请输入用户名" v-model="name"/>
            </div>
            <div class="item helppsd">
              <span class="icon"></span>
              <input type="password" placeholder="请输入助记码" v-model="helpcode"/>
            </div>
            <div class="item psd">
              <span class="icon"></span>
              <input type="password" placeholder="请输入新密码" v-model="psd"/>
            </div>
          </div>
          <div class="submit bold forget-submit">
            <button type="button" class="btn-red login" @click="getback">找回密码</button>
            <button type="button" class="btn-blue" @click="back">返回</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      name: '',
      psd: '',
      helpcode: ''
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    getback () {
      if (!this.name) {
        global.vbus.$emit('toast_show', '请输入用户名')
        return false
      } else if (!this.helpcode) {
        global.vbus.$emit('toast_show', '请输入助记码')
        return false
      } else if (!this.psd) {
        global.vbus.$emit('toast_show', '请输入新密码')
        return false
      }
      HttpMy.getBack({
        username: this.name,
        remember_code: this.helpcode,
        new_password: this.psd
      }).then((res) => {
        if (res) {
          localStorage.backinputname = this.name
          localStorage.backinputpsd = this.psd
          global.vbus.$emit('toast_show', '密码重置成功')
          this.$router.go(-1)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/login.scss">
</style>
