<template>
  <div class="container">
    <vhead :title="$t('login.title')"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad-75">
            <div class="item user">
              <span class="icon"></span>
              <input type="text" :placeholder="$t('login.puser')" v-model="name"/>
            </div>
            <div class="item psd">
              <span class="icon"></span>
              <input type="password" :placeholder="$t('login.ppsd')" v-model="psd"/>
            </div>
            <div class="item code">
              <span class="icon"></span>
              <input type="text" :placeholder="$t('login.pcode')" v-model="code"/>
              <div class="img"><img :src="codeimg" alt="" @click="getnewCode"/></div>
            </div>
            <p class="forget">
              <span @click="forget">{{$t('login.forget')}}</span>
            </p>
          </div>
          <div class="submit bold">
            <button type="button" class="btn-red login" @click="login">登录</button>
            <button type="button" class="btn-blue" @click="register">注册新用户</button>
          </div>
        </div>
      </div>
    </div>
    <van-popup v-model="bindEmail.show" class="email">
      <div class="title bold">温馨提示</div>
      <div class="content">
        <p class="text">您的账号没有绑定邮箱，<br />请联系下方客服邮箱重置密码！</p>
        <div class="email-val">536478577@qq.com</div>
      </div>
      <div class="sbt-box flexBox flexBetween">
        <button type="button" class="btn-blue vbutton" >关闭</button>
        <button type="button" class="btn-red vbutton" >确定</button>
      </div>
    </van-popup>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
import Utils from '@/config/utils'
export default {
  data () {
    return {
      psd: '',
      // 222222
      name: '',
      // 123123lihaih2
      // 123123lihaih25 123456 22222
      // 钱包testtianjia 111111
      code: '',
      bindEmail: {
        show: false
      },
      codeimg: '',
      verify_key: ''
    }
  },
  created () {
    this.verify_key = parseInt(Math.random() * 1000000)
    this.codeimg = Utils.http + '?verify_key=' + this.verify_key
    this.name = localStorage.backinputname
    this.psd = localStorage.backinputpsd
    localStorage.removeItem('backinputname')
    localStorage.removeItem('backinputpsd')
  },
  mounted () {
    //
  },
  methods: {
    forget () {
      this.$router.push('/forget')
    },
    register () {
      this.$router.push('/register')
    },
    login () {
      if (!this.name) {
        global.vbus.$emit('toast_show', '请输入用户名')
        return false
      } else if (!this.psd) {
        global.vbus.$emit('toast_show', '请输入密码')
        return false
      } else if (!this.code) {
        global.vbus.$emit('toast_show', '请输入验证码')
        return false
      }
      HttpMy.login({
        username: this.name,
        password: this.psd,
        captcha: this.code,
        verify_key: this.verify_key
      }).then((res) => {
        if (res) {
          localStorage.HEROUSERINFO = JSON.stringify(res)
          if (!res.email) {
            this.$router.push('/')
            this.bindEmail.show = true
          } else {
            this.$router.push('/')
          }
        }
      })
    },
    getnewCode () {
      this.verify_key = parseInt(Math.random() * 1000000)
      this.codeimg = Utils.http + '?verify_key=' + this.verify_key
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/login.scss">
</style>
