<template>
  <div class="container">
    <vhead :title="'注册'"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad-75">
            <div class="item user">
              <span class="icon"></span>
              <input type="text" placeholder="请输入用户名" v-model="name"/>
            </div>
            <div class="item psd">
              <span class="icon"></span>
              <input type="password" placeholder="请输入密码" autocomplete="off" v-model="psd"/>
            </div>
            <div class="item psd">
              <span class="icon"></span>
              <input type="password" placeholder="请确认密码" autocomplete="off" v-model="cpsd"/>
            </div>
            <div class="item recomer">
              <span class="icon"></span>
              <input type="text" placeholder="请输入推荐人账号（非必填）" v-model="recommender"/>
            </div>
            <div class="item helppsd">
              <span class="icon"></span>
              <input type="password" placeholder="您的助记码：q12345" autocomplete="off" v-model="helppsd"/>
            </div>
          </div>
          <p class="tell">助记码用于忘记密码时找回密码，请务必妥善保存</p>
          <div class="submit bold register-submit">
            <button type="button" class="btn-red login" @click="register">注册</button>
            <button type="button" class="btn-blue" @click="back">返回</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      name: '',
      psd: '',
      cpsd: '',
      recommender: '',
      helppsd: ''
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    register () {
      if (!this.name) {
        global.vbus.$emit('toast_show', '请输入用户名')
        return false
      } else if (!this.psd) {
        global.vbus.$emit('toast_show', '请输入密码')
        return false
      } else if (!this.cpsd) {
        global.vbus.$emit('toast_show', '请确认密码')
        return false
      } else if (this.psd !== this.cpsd) {
        global.vbus.$emit('toast_show', '两次密码输入不一致')
        return false
      } else if (!this.helppsd) {
        global.vbus.$emit('toast_show', '请输入您的助记码')
        return false
      }
      HttpMy.register({
        username: this.name,
        password: this.psd,
        repassword: this.cpsd,
        invite_code: this.recommender,
        remember_code: this.helppsd
      }).then((res) => {
        if (res) {
          global.vbus.$emit('toast_show', '注册成功')
          localStorage.backinputname = this.name
          localStorage.backinputpsd = this.psd
          setTimeout(() => {
            this.name = ''
            this.psd = ''
            this.cpsd = ''
            this.recommender = ''
            this.helppsd = ''
            global.vbus.$emit('loading_show', false)
            this.$router.go(-1)
          }, 3000)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/login.scss">
</style>
