<template>
  <div id="community">
    <vhead :title="$t('cmunity.title')" :right="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <div class="banner">
              <van-swipe :autoplay="3000">
                <van-swipe-item v-for="(item, index) in banners" :key="index">
                  <img :src="item.imgurl"/>
                </van-swipe-item>
              </van-swipe>
            </div>
            <div class="tabs flexBox">
              <div class="flex1 bold" v-for="(item, index) in tabs" :class="act==index?'act':''" :key="index" @click="act=index">
                {{index===0?$t('cmunity.tab1'):(index===1?$t('cmunity.tab2'):$t('cmunity.tab3'))}}
              </div>
            </div>
          </div>
          <div class="content">
            <div class="tab-content qukuai" v-show="act===0">
              <div class="title bold"><span class="name">区块分红热度计</span><span class="icon-ques" @click="toRule"></span></div>
              <div class="time"><span>每日区块固定产出收益时间:</span><span class="t">{{block.time}}</span></div>
              <div class="temp">
                <div class="img-box">
                  <div class="lists">
                    <span v-for="(item, index) in temp" :key="index" :class="['t'+item, tempact>=(index+1)?'act':'']"></span>
                  </div>
                </div>
                <p>当温度达到100°时，将可获得区块收益</p>
              </div>
              <div class="pad-37">
                <div class="cur bold flexBox">
                  <span class="flex1">当前ROFK价格：{{block.price}}元</span><span class="flex1">拥有区块：{{block.count}}个</span>
                </div>
              </div>
              <button type="button" class="bold btn-red" @click="buyQukuai">购买区块</button>
            </div>
            <div class="tab-content dajiang item" v-show="act===1">
              <div class="dj-pad">
                <div class="box">
                  <div class="title bold"><span class="name">王者大奖</span><span class="icon-ques" @click="toRule"></span></div>
                  <div class="left-time">
                    <div class="left-time-val">
                      <p class="t flexBox flexJustifyCenter"><span class="f32">开奖倒计时：</span><span class="f42">{{bigPool.time}}</span></p>
                      <p class="b">{{bigPool.value}}ETH</p>
                    </div>
                  </div>
                  <p class="cur-award bold">此轮开奖值：<br /> {{bigPool.min}}ETH-{{bigPool.max}}ETH</p>
                  <div class="btn-box">
                    <button type="button" class="bold btn-red" @click="seeAward(1)">查看中奖名单</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content dajiang" v-show="act===2">
              <div class="dj-pad">
                <div class="box">
                  <div class="title bold"><span class="name">定时奖</span><span class="icon-ques" @click="toRule"></span></div>
                  <div class="left-time">
                    <div class="left-time-val">
                      <p class="t flexBox flexJustifyCenter"><span class="f32">开奖倒计时：</span><span class="f42">{{timePrice.time}}</span></p>
                      <p class="b">{{timePrice.value}}ETH</p>
                    </div>
                  </div>
                  <div class="btn-box">
                    <button type="button" class="bold btn-red" @click="seeAward(2)">查看中奖名单</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <vfoot :active="0"></vfoot>
    <!--购买区块-->
    <van-popup v-model="buy.show">
      <div v-show="!confirmBuy.show" class="buy">
        <p class="bold title">购买区块</p>
        <div class="pad">
          <div class="input-box">
            <input class="input-BB2" type="number" placeholder="请输入想购买的数量" v-model="wallet.count"/>
            <div class="chose-box" :class="wallet.show?'act':''">
              <input class="input-BB2" type="text" v-model="wallet.chosed" disabled="disabled"/>
              <span class="icon-down" @click="toggleShowchose"></span>
              <div class="chose">
                <div v-for="(item, index) in wallet.lists" :key="index" class="item"
                  @click="toggleDochose(item)"
                  >
                  {{item.token_url}}
                </div>
              </div>
            </div>
            <input class="input-BB2 mar-bt0" type="password" placeholder="请输入该钱包的交易密码" v-model="wallet.safepsd"/>
          </div>
          <p class="spend"><span>本次购买需花费:</span><span class="cred">0.05ETH</span><span class="mar-rt">扣除门票:</span><span class="cred">300张</span></p>
          <div class="sbt-box flexBetween flexBox bold">
            <button type="button" class="btn-blue" @click="buy.show=false">关闭</button>
            <button type="button" class="btn-red" @click="confirmBuyClick">购买</button>
          </div>
        </div>
      </div>
      <!--<div class="confirmBuy buy" v-show="confirmBuy.show">
        <p class="bold title">交易密码</p>
        <div class="pad">
          <div class="input-box">
            <input class="input-BB2" type="password" placeholder="请输入交易密码" v-model="wallet.transpsd"/>
          </div>
          <div class="sbt-box flexBetween flexBox bold">
            <button type="button" class="btn-blue" @click="closePopup">关闭</button>
            <button type="button" class="btn-red" @click="doconfirmBuy">确定</button>
          </div>
        </div>
      </div>-->
    </van-popup>
    <!--中奖名单-->
    <van-popup v-model="awardMember.show" class="awardMember">
      <div class="close" v-for="(item, index) in awardMember.lists" :key="index">
        <div class="close-con" v-show="index!=awardMember.act" @click="toggleDif(item, index)">
          <span class="f30 bold">第3期</span><span class="f24 bold">(2019年1月5日 18:00)</span>
        </div>
        <div class="open-con" v-show="index==awardMember.act">
          <p><span class="f30 bold">第3期</span><span class="f24 bold">(2019年1月5日 18:00)</span></p>
          <div class="title bold">本期中奖名单</div>
          <div class="list-pad">
            <ul class="flexBox">
              <li class="no-mar">用户名称</li><li class="no-mar">用户名称</li><li class="no-mar">用户名称</li><li class="no-mar">用户名称</li><li>用户名称</li><li>用户名称</li><li>用户名称</li><li>用户名称</li>
            </ul>
          </div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import HttpCommunity from '@/service/community'
import HttpWallet from '@/service/wallet'
import Utils from '@/config/utils'
export default {
  data () {
    return {
      tabs: ['区块', '大奖池', '定时奖'],
      banners: [],
      act: 0,
      temp: [ 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 ],
      tempact: 6,
      block: {
        price: '',
        count: '',
        time: ''
      },
      bigPool: {
        time: '',
        value: '',
        min: '',
        max: ''
      },
      timePrice: {
        time: '',
        value: ''
      },
      buy: {
        show: false
      },
      confirmBuy: {
        show: false
      },
      wallet: {
        lists: [],
        chosed: '',
        chosedid: '',
        show: false,
        count: '',
        safepsd: '',
        transpsd: ''
      },
      awardMember: {
        show: false,
        lists1: [1, 2, 3],
        lists2: [1, 3, 4, 5, 6],
        lists: [],
        act: 0
      }
    }
  },
  created () {
    // let locale = this.$i18n.locale
    // this.tabs = locale === 'zh' ? ['区块', '大奖池', '定时奖'] : ['Blocks', 'Bonus Pond', 'Timing Award']
    let user = localStorage.HEROUSERINFO ? JSON.parse(localStorage.HEROUSERINFO) : ''
    if (user) {
      HttpCommunity.getInfo({}).then((res) => {
        let data = res
        this.tempact = data.block.current_degree / 10
        this.block = {
          price: data.information.rofk_price,
          count: data.information.block_num,
          time: data.information.day_income_time
        }
      })
    } else {
      // 未登录
      this.$router.push('/login')
    }
    HttpCommunity.banner({}).then((res) => {
      if (res) {
        this.banners = res.lists
      }
    })
  },
  mounted () {
    if (localStorage.HEROUSERINFO) {
      HttpCommunity.bigPrizePool({}).then((res) => {
        if (res) {
          this.bigPool = {
            time: Utils.timeFormate1(res.remaining_time),
            value: res.bonus_pool.toFixed(1),
            min: res.lottery_value.min,
            max: res.lottery_value.max
          }
          let time = res.remaining_time
          let interval = setInterval(() => {
            if (time === 0) {
              clearInterval(interval)
              return false
            }
            time--
            this.bigPool.time = Utils.timeFormate1(time)
          }, 1000)
        }
      })
      HttpCommunity.timePrice({}).then((res) => {
        if (res) {
          this.timePrice = {
            time: Utils.timeFormate1(res.remaining_time),
            value: res.bonus_pool.toFixed(1)
          }
          let time = res.remaining_time
          let interval = setInterval(() => {
            if (time === 0) {
              clearInterval(interval)
              return false
            }
            time--
            this.timePrice.time = Utils.timeFormate1(time)
          }, 1000)
        }
      })
    }
  },
  methods: {
    buyQukuai () {
      if (!localStorage.HEROUSERINFO) {
        this.$router.push('/login')
        return false
      }
      this.wallet.count = ''
      this.wallet.safepsd = ''
      HttpWallet.getWallets({
        page: 1
      }).then((res) => {
        if (res) {
          this.wallet.lists = res.lists
          this.wallet.chosed = this.wallet.lists[0].token_url
          this.wallet.chosedid = this.wallet.lists[0].id
        }
      })
      this.buy.show = true
    },
    confirmBuyClick () {
      if (!this.wallet.count) {
        global.vbus.$emit('toast_show', '请输入想购买的数量')
        return false
      } else if (!this.wallet.safepsd) {
        global.vbus.$emit('toast_show', '请输入该钱包的交易密码')
        return false
      }
      HttpCommunity.buyBlock({
        num: this.wallet.count,
        wallet_id: this.wallet.chosedid,
        trade_password: this.wallet.safepsd
      }).then((res) => {
        if (res) {
          console.log(res)
          // 成功后。。。
        }
      })
    },
    closePopup () {
      this.buy.show = false
      setTimeout(() => {
        this.confirmBuy.show = false
      }, 1000)
    },
    // delete
    doconfirmBuy () {
      if (!this.wallet.transpsd) {
        global.vbus.$emit('toast_show', '请输入交易密码')
        return false
      }
      HttpCommunity.buyBlock({
        num: this.wallet.count,
        wallet_id: '111111',
        trade_password: this.wallet.transpsd
      }).then((res) => {
        if (res) {
          console.log(res)
          // 成功后。。。
        }
      })
    },
    seeAward (type) {
      if (type === 1) {
        this.awardMember.lists = this.awardMember.lists1
      } else if (type === 2) {
        this.awardMember.lists = this.awardMember.lists2
      }
      this.awardMember.act = 0
      this.awardMember.show = true
    },
    toggleDif (item, index) {
      this.awardMember.act = index
    },
    // 选择购买区块类型
    toggleShowchose () {
      this.wallet.show = !this.wallet.show
    },
    toggleDochose (item) {
      this.wallet.chosed = item.token_url
      this.wallet.chosedid = item.id
      this.toggleShowchose()
    },
    toRule () {
      this.$router.push('/rules')
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/community.scss">
</style>
