<template>
  <div class="Add">
    <vhead :title="'新增反馈'" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <div class="item">
              <textarea ref="text" name="" rows="" cols="" placeholder="请输入你要反馈的内容" v-model="editVal" @input="textInput" :style='"height: "+height+"px;"'></textarea>
              <div class="addimg"><input type="file" @change="submitImg($event)"/></div>
            </div>
          </div>
          <button type="button" class="submit bold btn-red" @click="submit">提交</button>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
import { imgCompress } from '@/module/common'
import Axios from 'axios'
import { domainConfig } from '@/config/config-axios.js'
export default {
  data () {
    return {
      focus: true,
      editVal: '',
      height: ''
    }
  },
  methods: {
    textInput () {
      //
    },
    submit () {
      HttpMy.addadvice({
        content: this.editVal,
        pic: ''
      }).then((res) => {
        if (res) {
          global.vbus.$emit('toast_show', '提交成功')
          history.go(-1)
        }
      })
    },
    submitImg (e) {
      // console.log(e.target.files[0])
      imgCompress(e.target.files[0], { quality: 0.8 }, (base64) => {
        HttpMy.uploadImgs({
          fileName: base64,
          tags: 'advice'
        }).then((res) => {
          if (res) {
            console.log(res)
          }
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.Add {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad {
  padding: 49px 20px 0 20px;
  .item {
    background:rgba(34,41,117,0.5);
    border-radius:10px;
    font-size: 26px;
    padding: 25px 20px 31px 20px;
    text-align: left;
    box-sizing: border-box;
    textarea {
      background: transparent;
      border: none;
      outline: none;
      width: 100%;
      min-height: 168px;
    }
    textarea::-webkit-input-placeholder { color: #fff; opacity: .6; }
    textarea:-ms-input-placeholder { color: #fff; opacity: .6; }
    textarea::-moz-placeholder { color: #fff; opacity: .6; }
    textarea:-moz-placeholder { color: #fff; opacity: .6; }
    .addimg {
      display: inline-block;
      width: 124px;
      height: 124px;
      background: url(~@/assets/img/my/add-imgs@3x.png) no-repeat center;
      background-size: 100%;
      position: relative;
      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
  }
}
.submit {
  width: 660px;
  height: 88px;
  border-radius: 8px;
  margin-top: 470px;
  margin-bottom: 113px;
  font-size: 32px;
}
</style>
