<template>
  <div class="Detail">
    <vhead :title="title" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <p class="title pad-top37" :class="type===1?'hide':''">我的反馈</p>
            <div class="item content">
              {{content}}
              <div class="imgs">
                <img src="" alt="" />
              </div>
            </div>
            <p class="title">处理结果</p>
            <div class="item result">
              {{result}}
              <span class="noresult" v-show="!result">暂无内容</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      title: '',
      type: '',
      content: '',
      result: ''
    }
  },
  created () {
    this.type = Number(this.$route.query.type)
    this.title = Number(this.$route.query.type) === 1 ? '待处理' : '已处理'
    HttpMy.detailadvice({ id: this.$route.params.id }).then((res) => {
      if (res) {
        this.content = res.content
        this.result = res.reply
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.Detail {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad {
  padding: 90px 20px;
  padding-top: 0;
  .pad-top37 {
    padding-top: 37px;
  }
  .item {
    background:rgba(34,41,117,0.5);
    border-radius:10px;
    font-size: 26px;
    padding: 27px 22px;
    text-align: left;
    min-height: 320px;
    box-sizing: border-box;
    position: relative;
    .noresult {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.7;
    }
  }
  .content {
    margin-bottom: 86px;
  }
  .title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 25px;
  }
  .title.hide {
    opacity: 0;
  }
  .imgs {
    margin-top: 100px;
    margin-bottom: 17px;
    img {
      width: 124px;
      height: 124px;
      background: red;
    }
  }
}
</style>
