<template>
  <div class="Advice">
    <vhead :title="'反馈信息'" :shadow="true" :left="true">
      <div slot="rightCustom" class="rightCustom" @click="addAdvice">新增反馈</div>
    </vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="tabs flexBox bold">
          <div class="flex1" v-for="(item, index) in tabs" :class="tabsAct===index?'act':''" :key="index" @click="toggleTab(item, index)"><span class="tab">{{item.name}}</span></div>
        </div>
        <div class="sub-scroll">
          <div class="tab-con">
            <van-list
              v-model="loading"
              :finished="finished"
              finished-text="没有更多了"
              @load="onLoad"
            >
              <div class="item flexBox flexBetween flexAlignCenter" v-for="(item, index) in tabValues" :key="index" @click="itemDetail(item)">
                <span class="content">{{item.content}}</span>
                <span>{{item.dateline}}</span>
              </div>
            </van-list>
            <!--<div class="item flexBox flexBetween flexAlignCenter" v-for="(item, index) in tabValues" :key="index" @click="itemDetail(item)">
              <span class="content">{{item.content}}</span>
              <span>{{item.dateline}}</span>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      tabs: [
        { name: '待处理' }, { name: '已处理' }
      ],
      tabsAct: 0,
      tabValues: [
        { title: 'asda阿斯达start', time: '2018/05/02' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达', time: '' }, { title: 'asda阿斯达end', time: '2018/05/02' }
      ],
      curPage: 1,
      status: 1,
      loading: false,
      finished: false
    }
  },
  created () {
    this.onLoad()
  },
  mounted () {
    /* let target = document.querySelector('.sub-scroll')
    let h = document.querySelector('.sub-scroll .tab-con').clientHeight
    let fh = target.clientHeight
    console.log(h, fh)
    target.addEventListener('scroll', () => {
      let scroll = target.scrollTop
      console.log(h - fh -scroll)
    }) */
  },
  methods: {
    onLoad () {
      HttpMy.getadvice({
        // 信息状态，1=待处理，2=已处理，默认为1
        status: this.status,
        page: this.curPage
      }).then((res) => {
        if (res) {
          let a = res.lists
          if (this.curPage === 1) {
            this.tabValues = a
          } else {
            this.tabValues = this.tabValues.concat(a)
          }
          this.curPage++
          this.loading = false
          if (res.remainder > 0) {
            this.finished = false
          } else {
            this.finished = true
          }
        }
      })
    },
    toggleTab (item, index) {
      if (this.tabsAct !== index) {
        this.tabsAct = index
        this.tabValues = []
        this.finished = false
        this.status = index === 0 ? 1 : 2
        this.curPage = 1
      }
    },
    itemDetail (item) {
      this.$router.push({
        path: '/myc/adviceDetail/' + item.id,
        query: { type: 1 }
      })
    },
    addAdvice () {
      this.$router.push('/myc/addAdvice')
    }
  }
}
</script>

<style lang="scss" scoped>
.Advice {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.rightCustom {
  position: absolute;
  line-height: normal;
  font-size: 30px;
  right: 34px;
  top: 50%;
  transform: translateY(-50%);
}
.tabs {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 120px;
  background: rgba(19,29,104,0.5);
  box-sizing: border-box;
  span.tab {
    display: inline-block;
    height: 100%;
    line-height: 120px;
    padding: 0 20px;
    font-size: 30px;
    position: relative;
  }
  .act span.tab {
    color: #02FFD2;
  }
  .act span.tab:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 4px;
    background: #02FFD2;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
  }
}
.sub-scroll {
  margin-top: 120px;
  padding-bottom: 140px;
  box-sizing: border-box;
  .tab-con {
    .item {
      border-bottom: 2px solid #1E3898;
      height: 88px;
      font-size: 26px;
      padding-left: 40px;
      padding-right: 34px;
      .content {
        width: 50%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
