<template>
  <div class="Con">
    <vhead :title="'中奖记录'" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <ul>
            <li v-for="(item, index) in history" :key="index" class="flexBox flexBetween flexAlignCenter">
              <div class="kuai bold">区块ID：123456</div>
              <div class="params">
                <div class="time">2018-10-10 14:00:12</div>
                <div class="val bold">ETH：1246.00</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      history: [1, 1]
    }
  }
}
</script>

<style lang="scss" scoped>
.Con {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
li {
  height: 113px;
  box-sizing: border-box;
  background: rgba(18,41,158,0.4);
  border-top: 2px solid rgba(51, 123, 255, 0.36);
  border-bottom: 2px solid rgba(51, 123, 255, 0.36);
  border-radius: 6px;
  margin-bottom: 9px;
  padding: 0 25px 0 21px;
  .kuai {
    color: #FF9C00;
    font-size: 34px;
  }
  .time {
    font-size: 24px;
    margin-bottom: 26px;
    line-height: 19px;
    padding-top: 14px;
  }
  .val {
    color: #FFFC00;
    font-size: 28px;
    height: 22px;
    line-height: 22px;
  }
}
</style>
