<template>
  <div class="Email">
    <vhead :title="'系统邮箱'" :shadow="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <ul class="lists bold">
            <li v-for="(item, index) in lists" :key="index" class="flexBox flexBetween" @click="detail(item)">
              <span class="name" :class="!item.is_read?'red':''">{{item.msg_title}}</span>
              <span class="time">{{item.dateline}}</span>
            </li>
          </ul>
          <button type="button" class="submit bold btn-red" @click="back">返回</button>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      lists: []
    }
  },
  created () {
    // this.onLoad()
    HttpMy.sysEmails({
      page: 1
    }).then((res) => {
      // 消息状态，0未读，1已读
      console.log(res)
      this.lists = res.lists
      this.lists = [
        { msg_title: '系统信息', msg_desc: '啊实打实大', dateline: '2018-03-04', is_read: 0 },
        { msg_title: '系统信息', msg_desc: '啊实打实大', dateline: '2018-03-04', is_read: 1 }
      ]
    })
  },
  methods: {
    onLoad () {
      HttpMy.getadvice({
        // 信息状态，1=待处理，2=已处理，默认为1
        status: this.status,
        page: this.curPage
      }).then((res) => {
        if (res) {
          let a = res.lists
          if (this.curPage === 1) {
            this.tabValues = a
          } else {
            this.tabValues = this.tabValues.concat(a)
          }
          this.curPage++
          this.loading = false
          if (res.remainder > 0) {
            this.finished = false
          } else {
            this.finished = true
          }
        }
      })
    },
    back () {
      this.$router.go(-1)
    },
    detail (item) {
      this.$router.push({
        path: '/myc/emailDetail/' + '123456'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.Email {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.lists {
  li {
    height: 90px;
    line-height: 90px;
    box-sizing: border-box;
    border-bottom: 2px solid #3C458C;
    padding-left: 57px;
    padding-right: 24px;
    font-size: 26px;
    .name {
      display: inline-block;
      position: relative;
    }
    .name.red:before {
      content: ' ';
      display: inline-block;
      background: #FF0000;
      width: 15px; /*px*/
      height: 15px; /*px*/
      position: absolute;
      left: -23px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }
}
.submit {
  width: 660px;
  height: 88px;
  border-radius: 8px;
  margin-top: 205px;
  margin-bottom: 200px;
  font-size: 32px;
}
</style>
