<template>
  <div class="Email">
    <vhead :title="'系统信息'" :shadow="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="content">内容</div>
          <button type="button" class="submit bold btn-red" @click="back">返回</button>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
export default {
  data () {
    return {
      //
    }
  },
  created () {
    console.log(this.$route.params.id)
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.Email {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.content {
  font-size: 26px;
  padding: 30px;
}
.submit {
  width: 660px;
  height: 88px;
  border-radius: 8px;
  margin-top: 205px;
  margin-bottom: 200px;
  font-size: 32px;
}
</style>
