<template>
  <div id="my">
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <vmyhead></vmyhead>
          <router-view/>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
export default {
  //
}
</script>

<style lang="scss" scoped src="../../assets/scss/my-home.scss">
</style>
