<template>
  <div class="Link">
    <vhead :title="'推广链接'" :shadow="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <div class="code-box">
              <div class="code">
                <img src="" alt="" />
              </div>
              <p class="tell bold">扫一扫直接跳转注册</p>
              <p class="link-text">推广链接:</p>
              <p class="link-value">{{linkValue}}</p>
              <button type="button" id="tag-copy" class="bold copy" :data-clipboard-text="linkValue" @click="copy">点击复制</button>
            </div>
            <button type="button" class="btn-red bold back" @click="back">返回</button>
          </div>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import Clipboard from 'clipboard'
export default {
  data () {
    return {
      linkValue: 'www.rofk.com/adfasdgf/gadsaga/dsgadgasdg/sdgaasg'
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    copy () {
      const clipboard = new Clipboard('#tag-copy')
      clipboard.on('success', e => {
        global.vbus.$emit('toast_show', '复制成功')
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        global.vbus.$emit('toast_show', '该浏览器不支持自动复制')
        clipboard.destroy()
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.Link {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad {
  padding: 36px 45px 84px 45px;
  .code-box {
    margin-bottom: 80px;
    background: #fff;
    border-radius: 10px;
    padding-top: 67px;
    .code {
      width: 386px;
      height: 386px;
      margin: 0 auto;
      position: relative;
      background: url(~@/assets/img/wallet/code-bg@3x.png) no-repeat center;
      background-size: 100%;
      img {
        width: 314px;
        height: 314px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: red;
      }
    }
    p.tell {
      margin-top: 64px;
      font-size: 36px;
      color: #0083FE;
    }
    p.link-text {
      margin-top: 53px;
      font-size: 24px;
      color: #414141;
    }
    p.link-value {
      margin-top: 23px;
      font-size: 24px;
      color: #414141;
      margin-bottom: 40px;
    }
    .copy {
      width:226px;
      height:60px;
      background:linear-gradient(90deg,rgba(240,255,0,1),rgba(126,255,0,1));
      box-shadow:0px 4px 6px 0px rgba(25,183,17,0.29);
      border-radius:4px;
      color: #11B01C;
      font-size: 26px;
      margin-bottom: 43px;
    }
  }
  button.back {
    font-size: 32px;
    width: 100%;
    height: 88px;
    border-radius: 8px;
  }
}
</style>
