<template>
  <div>
    <div class="tabs flexBox">
      <div class="flex1" v-for="(item, index) in tabs" :key="index" :class="[item.cls, item.msg?'msg':'']" @click="operateTabs(item)">
        <div class="icon"></div>
        <p class="name">{{item.name}}</p>
      </div>
    </div>
    <div class="lists">
      <div class="item flexBox flexAlignCenter" v-for="(item, index) in lists" :key="index" @click="operate(item, index)">
        <span class="icon" :class="[item.cls, item.msg?'msg':'']"></span>
        <div class="item-rt flex1">
          <span class="name bold">{{item.name}}</span>
        </div>
      </div>
    </div>
    <!--退出-->
    <van-popup v-model="quit.show" class="quit">
      <div class="count-box">
        <p class="bold title">退出账号</p>
        <div class="content">确定退出账号？</div>
        <div class="sbt-box flexBox flexBetween">
          <button type="button" class="btn-blue vbutton" @click="quit.show = !quit.show">取消</button>
          <button type="button" class="btn-red vbutton" @click="confirmQuit">确定</button>
        </div>
      </div>
    </van-popup>
    <!--成为王者-->
    <van-popup v-model="bering.show" class="quit bering">
      <div class="count-box">
        <p class="bold title">当前王者秘钥价格</p>
        <p class="tell bold">购买后晋升为王者</p>
        <div class="content">
          <span class="c1">{{bering.cash}}元</span><span class="c2">=以太币：{{bering.count}}ETH</span>
        </div>
        <div class="sbt-box flexBox flexBetween">
          <button type="button" class="btn-blue vbutton" @click="bering.show = !bering.show">取消</button>
          <button type="button" class="btn-red vbutton" @click="ringBuy">购买</button>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      tabs: [
        { cls: 'order', name: 'ROFK订单', msg: false }, { cls: 'part', name: '我的区块' }, { cls: 'redpg', name: '我的红包' }, { cls: 'ring', name: '成为王者' }
      ],
      lists: [
        { cls: 'userinfo', name: '账户信息' },
        { cls: 'team', name: '我的团队' },
        { cls: 'link', name: '推广链接' },
        { cls: 'advice', name: '反馈意见' },
        { cls: 'email', name: '系统邮箱', msg: '' },
        { cls: 'notice', name: '系统公告' },
        { cls: 'rules', name: '规则说明' },
        { cls: 'quit', name: '退出账号' }
      ],
      quit: {
        show: false
      },
      bering: {
        show: false,
        cash: '',
        count: ''
      },
      module: {
        my_redpacket: '',
        rofk_order: '',
        sys_email: '',
        sys_notice: ''
      }
    }
  },
  created () {
    HttpMy.center({}).then((res) => {
      if (res) {
        this.module = res.module
        this.tabs[0].msg = this.module.rofk_order
        this.tabs[2].msg = this.module.my_redpacket
        this.lists[4].msg = this.module.sys_email
        this.lists[5].msg = this.module.sys_notice
      }
    })
  },
  methods: {
    operate (item) {
      if (item.cls === 'quit') {
        this.quit.show = true
        return false
      }
      this.$router.push('/my/' + item.cls)
    },
    confirmQuit () {
      localStorage.removeItem('HEROUSERINFO')
      this.$router.push('/login')
    },
    operateTabs (item) {
      if (item.cls === 'ring') {
        HttpMy.getkingCost({}).then((res) => {
          if (res) {
            this.bering = {
              show: true,
              cash: res.rmb,
              count: res.eth_cost
            }
          }
        })
      } else if (item.cls === 'order') {
        this.$router.push('/myc/order')
      } else if (item.cls === 'part') {
        this.$router.push('/myc/part')
      } else if (item.cls === 'redpg') {
        this.$router.push('/myc/redpocket')
      }
    },
    // 成为王者
    ringBuy () {
      HttpMy.buyking({}).then((res) => {
        if (res) {
          global.vbus.$emit('toast_show', '购买成功')
          this.bering.show = false
        } else {
          // this.bering.show = false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/my.scss">
</style>
