<template>
  <div id="Detail">
    <vhead :title="'我的区块'" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="tabs flexBox bold">
          <div class="flex1" v-for="(item, index) in tabs" :class="tabsAct===index?'act':''" :key="index" @click="toggleTab(item, index)"><span class="tab">{{item.name}}</span></div>
        </div>
        <div class="sub-scroll">
          <div class="tab-con" v-show="tabsAct==0">
            <div class="pad">
              <div class="title bold">当日累计收益：1ETH</div>
              <div class="time bold flexBox flexBetween">
                <div class="time-item year flexBox flexAlignCenter">
                  <div class="shower flexBox flexAlignCenter">
                    <span class="val flex1">2018</span><span class="down"></span>
                    <ul class="chosebox">
                      <li>2017</li>
                      <li>2017</li>
                    </ul>
                  </div>年
                </div>
                <div class="time-item year flexBox flexAlignCenter">
                  <div class="shower flexBox flexAlignCenter">
                    <span class="val flex1">18</span><span class="down"></span>
                    <ul class="chosebox">
                      <li>2017</li>
                      <li>2017</li>
                    </ul>
                  </div>月
                </div>
                <div class="time-item year flexBox flexAlignCenter">
                  <div class="shower flexBox flexAlignCenter">
                    <span class="val flex1">18</span><span class="down"></span>
                    <ul class="chosebox">
                      <li>2017</li>
                      <li>2017</li>
                    </ul>
                  </div>日
                </div>
              </div>
            </div>
            <div class="lists bold">
              <div v-for="(item, index) in qukuai" :key="index" class="lists-item">
                <div class="list-time">日期：2018-10-17  15:12:22</div>
                <div class="get">区块收益：<span>0.25ETH</span></div>
              </div>
            </div>
          </div>
          <div class="tab-con" v-show="tabsAct==1">
            2222
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created () {
    console.log(this.$route.params.id)
  },
  data () {
    return {
      tabs: [
        { name: '区块收益' }, { name: '复投收益' }
      ],
      tabsAct: 0,
      qukuai: [1, 2, 3],
      futou: [1, 2, 3, 5]
    }
  },
  methods: {
    toggleTab (item, index) {
      this.tabsAct = index
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/my-part-detail.scss">
</style>
