<template>
  <div class="Notice">
    <vhead :title="title" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad bold">
            {{notice}}
          </div>
          <button type="button" class="submit bold btn-red" @click="back">返回</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      title: '',
      notice: ''
    }
  },
  created () {
    HttpMy.sysAdvertise({}).then((res) => {
      if (res) {
        this.title = res.msg_title
        this.notice = res.msg_desc
      }
    })
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.Notice {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad {
  padding: 46px 50px 0 50px;
  text-align: left;
  font-size: 36px;
  line-height: 56px;
}
.submit {
  width: 660px;
  height: 88px;
  border-radius: 8px;
  margin-top: 205px;
  margin-bottom: 200px;
  font-size: 32px;
}
</style>
