<template>
  <div class="Order">
    <vhead :title="'ROFK订单列表'" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="tabs flexBox bold">
          <div class="flex1" v-for="(item, index) in tabs" :class="tabsAct===index?'act':''" :key="index" @click="toggleTab(item, index)"><span class="tab">{{item.name}}</span></div>
        </div>
        <div class="sub-scroll">
          <div v-show="tabsContent[0] === tabsAct">
            <div class="pad ing">
              <div class="item flexBox flexBetween" v-for="(item, index) in content[0]" :key="index">
                <div class="bold">
                  <div class="buyer">购买人：{{item.buyer}}</div>
                  <div class="number c1">购买数量：{{item.num}}</div>
                </div>
                <div>
                  <div class="time">{{item.create_time}}</div>
                  <div class="c-y bold">支付ETH：{{item.pay_eth}}</div>
                </div>
                <div class="bold flexBox flexAlignCenter">
                  <button type="button" class="sell" @click="agreeSell(item)">卖出</button><button type="button" class="refused" @click="refuseSell(item)">拒绝</button>
                </div>
              </div>
            </div>
          </div>
          <div v-show="tabsContent[1] === tabsAct">
            <div class="pad over">
              <div class="item flexBox flexBetween" v-for="(item, index) in content[1]" :key="index">
                <div class="bold">
                  <div class="buyer">购买人：{{item.buyer}}</div>
                  <div class="number c1">购买数量：{{item.num}}</div>
                </div>
                <div>
                  <div class="time">{{item.create_time}}</div>
                  <div class="c-y bold">支付ETH：{{item.pay_eth}}</div>
                </div>
                <div class="flexBox flexAlignCenter c-green">交易完成</div>
              </div>
            </div>
          </div>
          <div v-show="tabsContent[2] === tabsAct" class="table-box">
            <div class="total-pad">
              <div class="total">
                <div class="item flexBox flexBetween">
                  <div class="lf flex1"><span class="w">累计卖出ROFK：</span><span class="color-yel">{{total.tsell}}</span></div>
                  <div class="rt flex1"><span class="w">累计买入ROFK：</span><span class="color-yel">{{total.tsell}}</span></div>
                </div>
                <div class="item flexBox flexBetween">
                  <div class="lf flex1"><span class="w">累计收入ETH：</span><span class="color-fen">{{total.tsell}}</span></div>
                  <div class="rt flex1"><span class="w">累计支出ETH：</span><span class="color-fen">{{total.tsell}}</span></div>
                </div>
                <div class="item flexBox flexBetween">
                  <div class="lf flex1"><span class="w">今日卖出ROFK：</span><span class="color-yel">{{total.tsell}}</span></div>
                  <div class="rt flex1"><span class="w">今日买入ROFK：</span><span class="color-yel">{{total.tsell}}</span></div>
                </div>
                <div class="item flexBox flexBetween">
                  <div class="lf flex1"><span class="w">今日收入ETH：</span><span class="color-fen">{{total.tsell}}</span></div>
                  <div class="rt flex1"><span class="w">今日支出ETH：</span><span class="color-fen">{{total.tsell}}</span></div>
                </div>
              </div>
            </div>
            <table class="history">
              <tr class="head">
                <td><div class="buyer">购买人</div></td>
                <td><div class="ctime">创建时间</div></td>
                <td><div class="otime">完成时间</div></td>
              </tr>
              <tr v-for="(item, index) in totalList" :key="index">
                <td><div class="buyer bold">
                  <div class="er">{{item.buyer}}</div>
                  <div class="color-tu count">购买数量：{{item.num}}</div>
                </div></td>
                <td><div class="ctime bold">
                  <div class="time" v-html="item.create_time"></div>
                  <div class="color-yel">支付ETH：2ETH</div>
                </div></td>
                <td><div class="otime">
                  <div class="time bold" v-html="item.complete_time"></div>
                  <div class="status" :class="item.suc?'color-green':'color-red'">{{item.suc?'交易完成':'交易失败'}}</div>
                </div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      tabs: [
        { name: '待处理订单' }, { name: '已完成订单' }, { name: '订单记录' }
      ],
      tabsAct: 0,
      tabsContent: [
        0, 1, 2
      ],
      content: [
        [],
        []
        // [ { buyer: '隔壁老王吧', number: 1547, time: '2018-10-10 14:00:12', pay: '2ETH' }, { buyer: '隔壁老王吧', number: 1547, time: '2018-10-10 14:00:12', pay: '2ETH' } ],
        // [ { buyer: '隔壁老王吧', number: 1547, time: '2018-10-10 14:00:12', pay: '2ETH' }, { buyer: '隔壁老王吧', number: 1547, time: '2018-10-10 14:00:12', pay: '2ETH' } ]
      ],
      orderOverLoaded: false,
      total: {
        tsell: 15478,
        tget: 15478,
        sell: 15478,
        get: 15478,
        tbuy: 15478,
        tpay: 15478,
        buy: 15478,
        pay: 15478
      },
      totalList: [
        { buyer: '隔壁老王吧', number: 1547, ctime: '2018/09/09&nbsp;&nbsp;12:00:45', pay: '2ETH', otime: '2018/09/09&nbsp;&nbsp;12:00:45', suc: true },
        { buyer: '隔壁老王吧', number: 1547, ctime: '2018/09/09&nbsp;&nbsp;12:00:45', pay: '2ETH', otime: '2018/09/09&nbsp;&nbsp;12:00:45', suc: false }
      ]
    }
  },
  created () {
    // 获取待处理
    HttpMy.rofkUncancel({
      page: 1
    }).then((res) => {
      if (res) {
        // console.log(res)
        // this.content[0] = res.lists
        this.content[0] = [
          {
            order_id: 2,
            buyer: 'user1',
            num: 200,
            pay_eth: '0.050960',
            create_time: '2019-01-24 23:29:41'
          }
        ]
      }
    })
    /*this.content[0] = [
      {
        order_id: 2,
        buyer: 'user1',
        num: 200,
        pay_eth: '0.050960',
        create_time: '2019-01-24 23:29:41'
      },
      {
        order_id: 22,
        buyer: 'user2',
        num: 2002,
        pay_eth: '0.050960',
        create_time: '2019-01-24 23:29:41'
      }
    ] */
  },
  methods: {
    toggleTab (item, index) {
      this.tabsAct = index
      if (!this.orderOverLoaded && index === 1) {
        HttpMy.rofkOver({ page: 1 }).then((res) => {
          if (res) {
            console.log(res)
          }
        })
        this.content[1] = [
          {
            order_id: 2,
            buyer: 'user1',
            num: 200,
            pay_eth: '0.050960',
            create_time: '2019-01-24 23:29:41'
          },
          {
            order_id: 22,
            buyer: 'user2',
            num: 2002,
            pay_eth: '0.050960',
            create_time: '2019-01-24 23:29:41'
          }
        ]
      }
      if (index === 2) {
        HttpMy.rofkRecord({ page: 1 }).then((res) => {
          if (res) {
            console.log(res)
          }
        })
        this.totalList = [
          {
            order_id: 2,
            buyer: 'user1',
            num: 200,
            pay_eth: '0.050960',
            create_time: '2019-01-24 23:29:41',
            complete_time: '1970-01-01 08:00:00',
            status_txt: '待处理',
            otype: 1
          }
        ]
      }
    },
    // 待处理 拒绝
    refuseSell (item) {
      HttpMy.refuseSell({
        order_id: item.order_id
      }).then((res) => {
        if (res) {
          console.log(res)
        }
      })
    },
    // 待处理 卖出
    agreeSell (item) {
      HttpMy.agreeSell({
        order_id: item.order_id
      }).then((res) => {
        if (res) {
          console.log(res)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.Order {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.tabs {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 120px;
  background: rgba(19,29,104,0.5);
  box-sizing: border-box;
  span.tab {
    display: inline-block;
    height: 100%;
    line-height: 120px;
    padding: 0 20px;
    font-size: 30px;
    position: relative;
  }
  .act span.tab {
    color: #02FFD2;
  }
  .act span.tab:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 4px;
    background: #02FFD2;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
  }
}
.sub-scroll {
  margin-top: 120px;
  padding-bottom: 140px;
  box-sizing: border-box;
  .tab-con {
    .item {
      border-bottom: 2px solid #1E3898;
      height: 88px;
      font-size: 26px;
      padding-left: 40px;
      padding-right: 34px;
    }
  }
}
.pad {
  padding: 22px 20px 30px 20px;
  .item {
    background:rgba(18,41,158,0.4);
    border:2px solid rgba(51, 123, 255, 0.36);
    border-radius:6px;
    font-size: 24px;
    padding-left: 17px;
    margin-bottom: 20px;
    text-align: left;
    .time {
      font-size: 22px;
    }
    .c1 { color: #FF9C00; }
    .c-y { color: #FFFC00; }
    .c-green { color: #12D016; }
    .buyer {
      margin-top: 22px;
      margin-bottom: 27px;
    }
    .number {
      margin-bottom: 18px;
    }
    .time {
      margin-top: 26px;
      height: 17px;
      line-height: 17px;
      margin-bottom: 29px;
    }
    button {
      width: 80px;
      height: 80px;
      border-radius: 10px;
    }
    .sell {
      background: #12D016;
      margin-right: 15px;
    }
    .refused {
      background: #FF3D38;
    }
  }
}
.pad.ing .item {
  padding-right: 17px;
}
.pad.over .item {
  padding-right: 22px;
}
.total-pad {
  padding: 20px 20px 28px 20px;
  .total {
    background:rgba(19,29,104,1);
    border-radius:4px;
    padding: 0 5px;
    font-size: 24px;
    .item {
      text-align: left;
      height: 50px;
      box-sizing: border-box;
      line-height: 50px;
      border-bottom: 2px solid #263082;
      .lf {
        padding-left: 18px;
        white-space: nowrap;
      }
      .rt {
        white-space: nowrap;
      }
      .w {
        display: inline-block;
        width: 178px;
      }
    }
    .item:last-child {
      border-bottom: none;
    }
  }
}
.table-box {
  /*position: relative;
  width: 100%;
  overflow: hidden;*/
}
.history {
  width: 100%;
  font-size: 24px;
  tr {
    border-bottom: 2px solid #337BFF;
  }
  .head div {
    padding-bottom: 20px;
  }
  .buyer {
    text-align: left;
    padding-left: 37px;
    box-sizing: border-box;
    .er {
      width: 110px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 17px 0;
    }
    .count {
      margin-bottom: 18px;
      white-space: nowrap;
    }
  }
  .otime {
    padding-right: 10px;
    padding-left: 8px;
  }
  .time {
    margin-bottom: 18px;
    font-size: 22px;
    white-space: nowrap;
  }
  .status {
    font-size: 26px;
  }
}
.color-yel { color: #FFFC00; }
.color-fen { color: #FF00D2; }
.color-tu { color: #FF9C00; }
.color-green { color: #12D016; }
.color-red { color: #FF0000; }
</style>
