<template>
  <div id="Part">
    <vhead :title="'我的区块'" :shadow="true">
      <div slot="rightCustom" class="rightCustom" @click="history">中奖纪录</div>
    </vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <div class="total flexBox">
              <div class="flex1" v-for="(item, index) in total" :key="index">
                <span class="n bold">{{item.n}}</span>
                <p class="name">{{item.name}}</p>
              </div>
            </div>
            <div>
              88888
            </div>
          </div>
          <button type="button" class="submit bold btn-red" @click="back">返回</button>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      total: [
        { n: '', name: '我的区块' },
        { n: '', name: '区块总收益' },
        { n: '', name: '有效区块' },
        { n: '', name: '失效区块' }
      ],
      lists: [],
      getMoney: {
        show: false
      }
    }
  },
  created () {
    HttpMy.blockHead({}).then((res) => {
      if (res) {
        this.total = [
          { n: res.my_block_num, name: '我的区块' },
          { n: res.my_block_total_income.toFixed(2), name: '区块总收益' },
          { n: res.my_block_valid_num, name: '有效区块' },
          { n: res.my_block_disabled_num, name: '失效区块' }
        ]
      }
    })
    
  },
  methods: {
    history () {
      this.$router.push('/myc/award')
    },
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/my-part.scss">
</style>
