<template>
  <div id="Part">
    <vhead :title="'我的区块'" :shadow="true">
      <div slot="rightCustom" class="rightCustom" @click="history">中奖纪录</div>
    </vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <div class="total flexBox">
              <div class="flex1" v-for="(item, index) in total" :key="index">
                <span class="n bold">{{item.n}}</span>
                <p class="name">{{item.name}}</p>
              </div>
            </div>
            <div v-for="(item, index) in lists" :key="index" class="item">
              <!--区块状态，1=正常，2=失效的-->
              <div v-if="item.status === 1" class="part normal" @click="toDetail()">
                <div class="detail flexBox">
                  <div class="status bold">
                    <span class="text">区块ID</span>
                    <p class="id">31545</p>
                  </div>
                  <div class="flex1 r-part flexBox flexBetween">
                    <div class="number bold">0.52ETH/6ETH</div>
                    <div class="more bold">静态收益：0.5ETH<span>复投收益：0.5ETH</span></div>
                    <div class="day">提现倒计时：180  天</div>
                  </div>
                </div>
                <!--<p class="line"></p>
                <div class="btm-part flexBox flexBetween flexAlignCenter">
                  <span>当前可提现：</span>
                  <button type="button" class="act bold" @click="withdraw">30%</button>
                  <button type="button" class="bold">60%</button>
                  <button type="button" class="bold">100%</button>
                </div>-->
              </div>
              <div v-else class="part unuse" @click="toDetail()" class="item">
                <div class="detail flexBox">
                  <div class="status bold">
                    <span class="text">区块ID</span>
                    <p class="id">31545</p>
                  </div>
                  <div class="flex1 r-part flexBox flexBetween">
                    <div class="number">0.52ETH/6ETH</div>
                    <div class="more">静态收益：0.5ETH<span>复投收益：0.5ETH</span></div>
                    <div class="day">提现倒计时：180  天</div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="part normal" @click="toDetail()">
              <div class="detail flexBox">
                <div class="status bold">
                  <span class="text">区块ID</span>
                  <p class="id">31545</p>
                </div>
                <div class="flex1 r-part flexBox flexBetween">
                  <div class="number bold">0.52ETH/6ETH</div>
                  <div class="more bold">静态收益：0.5ETH<span>复投收益：0.5ETH</span></div>
                  <div class="day">提现倒计时：180  天</div>
                </div>
              </div>
              <p class="line"></p>
              <div class="btm-part flexBox flexBetween flexAlignCenter">
                <span>当前可提现：</span>
                <button type="button" class="act bold" @click="withdraw">30%</button>
                <button type="button" class="bold">60%</button>
                <button type="button" class="bold">100%</button>
              </div>
            </div>
            <div class="part unuse" @click="toDetail()">
              <div class="detail flexBox">
                <div class="status bold">
                  <span class="text">区块ID</span>
                  <p class="id">31545</p>
                </div>
                <div class="flex1 r-part flexBox flexBetween">
                  <div class="number">0.52ETH/6ETH</div>
                  <div class="more">静态收益：0.5ETH<span>复投收益：0.5ETH</span></div>
                  <div class="day">提现倒计时：180  天</div>
                </div>
              </div>
            </div>-->
          </div>
          <button type="button" class="submit bold btn-red" @click="back">返回</button>
        </div>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
    <!--提现-->
    <van-popup v-model="getMoney.show" class="withdraw">
      <div class="count-box">
        <p class="bold title">提现</p>
        <p class="tell">(提现将扣取10%手续费)</p>
        <div class="content">
          确定要提现30%到ETH余额吗？
        </div>
        <div class="sbt-box">
          <button type="button" class="btn-red bold confrim" @click="confirmGetMoney">确认提现</button>
          <button type="button" class="btn-blue bold" @click="getMoney.show = !getMoney.show">取消</button>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      total: [
        { n: '', name: '我的区块' },
        { n: '', name: '区块总收益' },
        { n: '', name: '有效区块' },
        { n: '', name: '失效区块' }
      ],
      lists: [],
      getMoney: {
        show: false
      }
    }
  },
  created () {
    HttpMy.blockHead({}).then((res) => {
      if (res) {
        this.total = [
          { n: res.my_block_num, name: '我的区块' },
          { n: res.my_block_total_income.toFixed(2), name: '区块总收益' },
          { n: res.my_block_valid_num, name: '有效区块' },
          { n: res.my_block_disabled_num, name: '失效区块' }
        ]
      }
    })
    HttpMy.blocks({
      page: ''
    }).then((res) => {
      if (res) {
        // console.log(res)
        res.lists = [1, 2, 3]
        if (!res.lists.length) {
          global.vbus.$emit('toast_show', '暂无数据')
        } else {
          //
        }
      }
    })
  },
  methods: {
    history () {
      this.$router.push('/myc/award')
    },
    back () {
      this.$router.go(-1)
    },
    withdraw () {
      this.getMoney.show = true
    },
    confirmGetMoney () {
      //
      this.getMoney.show = false
    },
    toDetail () {
      this.$router.push({
        path: '/myc/mypart/' + '123123'
      })
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/my-part.scss">
</style>
