<template>
  <div class="Con">
    <vhead :title="'我的红包'" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <div class="pad">
            <div class="item flexBox flexBetween" v-for="(item, index) in pocket" :key="index">
              <!--<div class="item-l" :class="item.type==1?'kuai':'fu'"></div>
              <div class="flex1 item-m flexBox flexBetween bold">
                <div class="id">区块ID：32040</div>
                <div class="type">{{item.type===1?'区块红包':'复投红包'}}</div>
                <div class="time">剩余时间：12:00:00</div>
              </div>
              <div class="item-r flexBox flexBetween">
                <div class="c1" v-if="item.type===1">复投30%</div>
                <div class="c2" v-if="item.type===2">全部领取</div>
                <div class="c1">复投100%</div>
              </div>-->
              <div class="item-l" :class="item.htype==1?'kuai':'fu'"></div>
              <div class="flex1 item-m flexBox flexBetween bold">
                <div class="id">区块ID：{{item.block_id}}</div>
                <div class="type">{{item.htype===1?'区块红包':'复投红包'}}</div>
                <div class="time">剩余时间：{{item.valid_time}}</div>
              </div>
              <div class="item-r flexBox flexBetween">
                <div class="c1" v-if="item.htype===1" @click="openPopup(item.id, 1)">复投30%</div>
                <div class="c2" v-if="item.htype===2" @click="openPopup(item.id, 3)">全部领取</div>
                <div class="c1" @click="openPopup(item.id, 2)">复投100%</div>
              </div>
            </div>
            <div v-show="!pocket.length">暂无红包</div>
          </div>
        </div>
      </div>
    </div>
    <van-popup v-model="popup.show" class="popup">
      <div class="title bold">提示</div>
      <div class="text">{{popup.text}}</div>
      <div class="operate flexBox flexBetween">
        <button type="button" class="btn-blue" @click="closePopup">取消</button>
        <button type="button" class="btn-red" @click="conformPopup">确定</button>
      </div>
    </van-popup>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      popup: {
        show: false,
        text: '',
        id: '',
        type: ''
      },
      pocket: [],
      totalPage: '',
      curPage: 1,
      remainder: ''
    }
  },
  created () {
    this.load()
  },
  mounted () {
    // 添加滚动到底部加载未添加
  },
  methods: {
    load () {
      HttpMy.redPacket({
        page: this.curPage
      }).then((res) => {
        if (res) {
          // console.log(res)
          // 红包类型，1=区块红包，2=复投红包
          /* res.lists = [
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999,
              htype: 1,
              valid_time: '12:00:00'
            },
            {
              id: 88,
              block_id: 999555,
              htype: 2,
              valid_time: '12:00:00'
            }
          ] */
          this.pocket = res.lists
          this.remainder = res.remainder
        }
      })
    },
    fuTou (id, type) {
      // 复投方式，1=复投30%，2=复投100%
      HttpMy.redPacketFutou({
        id: id,
        rtype: type
      }).then((res) => {
        if (res) {
          // console.log(res)
          this.curPage = 1
          this.load()
        }
      })
    },
    getCash (id) {
      HttpMy.redPacketGetcash({
        id: id
      }).then((res) => {
        if (res) {
          // console.log(res)
          this.curPage = 1
          this.load()
        }
      })
    },
    openPopup (id, type) {
      this.popup.id = id
      this.popup.type = type
      if (type === 1) {
        this.popup.text = '确定复投30%?'
      } else if (type === 2) {
        this.popup.text = '确定复投100%?'
      } else if (type === 3) {
        this.popup.text = '确定全部领取?'
      }
      this.popup.show = true
    },
    conformPopup () {
      let type = this.popup.type
      if (type === 1) {
        this.fuTou(this.popup.id, 1)
      } else if (type === 2) {
        this.fuTou(this.popup.id, 2)
      } else if (type === 3) {
        this.getCash(this.popup.id)
      }
    },
    closePopup () {
      this.popup.show = false
    }
  }
}
</script>

<style lang="scss" scoped src="./redpocket.scss">
</style>
