.Con {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.pad {
  padding: 32px 20px 20px 20px;
  .item {
    margin-bottom: 42px;
    &-l {
      width: 131px;
      height: 131px;
      margin-right: 36px;
    }
    &-l.kuai {
      background: url(~@/assets/img/my/pocket-qukuai@2x.png) no-repeat center;
      background-size: 100%;
    }
    &-l.fu {
      background: url(~@/assets/img/my/pocket-fu@2x.png) no-repeat center;
      background-size: 100%;
    }
    &-m {
      flex-direction: column;
      text-align: left;
      font-size: 26px;
      .id {
        font-size: 30px;
        padding-top: 2px;
      }
      .type { color: #FFA646; }
      .time { color: #02FFD2; padding-bottom: 4px; }
    }
    &-r {
      flex-direction: column;
      &>div {
        width:130px;
        height:50px;
        line-height: 50px;
        background:rgba(255,61,56,1);
        border-radius:4px;
      }
      .c1 {
        background: #FF3D38;
      }
      .c2 {
        background: #12D016;
      }
    }
  }
}
.popup {
    width: 640px;
    height: 574px;
    background: linear-gradient(135deg,rgba(78,35,201,1),rgba(0,252,255,1));
    background: url(~@/assets/img/popup-bg-1@3x.png) no-repeat center;
    background-size: cover;
    border-radius: 10px;
    .title {
        font-size: 48px;
        color: #fff;
        padding: 50px 0;
        height: 45px;
        line-height: 45px;
    }
    .text {
        width: 562px;
        margin: 0 auto;
        color: #516D9B;
        white-space: nowrap;
        background: rgba(239,245,255,1);
        border: 1px solid rgba(239, 245, 255, 1);
        box-shadow: 0px 3px 32px 0px rgba(0,96,255,0.17), 1px 1px 5px 0px rgba(6,0,245,0.26);
        border-radius: 10px;
        font-size: 39px;
        padding: 98px 0;
    }
    .operate {
        width: 562px;
        margin: 0 auto;
        margin-top: 50px;
        button {
            height: 84px;
            width: 258px;
            font-size: 30px;
            border-radius: 6px;
        }
    }
}