<template>
  <div class="Notice">
    <vhead :title="'修改邮箱'" :shadow="true" :left="true"></vhead>
    <div class="scroll">
      <div class="scroll-con">
        <div class="sub-scroll">
          <ul>
            <li class="item flexBox flexBetween">
              <span class="name">原邮箱：</span><input class="flex1" type="text" placeholder="请输入原邮箱"/>
            </li>
            <li class="item flexBox flexBetween">
              <span class="name">新邮箱：</span><input class="flex1" type="text" placeholder="请输入新邮箱"/>
            </li>
          </ul>
        </div>
        <button type="button" class="submit bold btn-red" @click="back">确定</button>
      </div>
    </div>
    <vfoot :active="2" :hastopborder="true"></vfoot>
  </div>
</template>

<script>
export default {
  data () {
    return {
      //
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.Notice {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(~@/assets/img/wallet_bg@3x.png) no-repeat center;
  background-size: 100%;
  color: #fff;
}
.scroll {
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 144px;
    height: 100%;
    overflow-y: auto;
    .scroll-con {
        height: 100%;
        overflow: hidden;
        position: relative;
        .sub-scroll {
            height: 100%;
            overflow-y: auto;
            color: #fff;
        }
    }
}
.item {
  height: 96px;
  line-height: 96px;
  box-sizing: border-box;
  border-bottom: 2px solid #3C458C;
  font-size: 26px;
  padding-left: 57px;
  input {
    margin-left: 155px;
    background: transparent;
    padding-right: 57px;
  }
  input::-webkit-input-placeholder { color: #A5AACD; }
  input:-ms-input-placeholder { color: #A5AACD; }
  input::-moz-placeholder { color: #A5AACD; }
  input:-moz-placeholder { color: #A5AACD; }
}
.submit {
  width: 660px;
  height: 88px;
  border-radius: 8px;
  font-size: 32px;
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
}
</style>
