<template>
  <div class="Team">
    <div class="pad">
      <div class="container">
        <div class="flexBox info">
          <img src="~@/assets/img/my/userinfo-bg@2x.png" alt="loading" />
          <div class="flex1">
            <ul class="infos flexBox flexBetween">
              <li class="flexBox flexBetween flexAlignCenter" v-for="(item, index) in infos" :key="index">
                <span class="name">{{item.name}}</span>
                <span class="val">{{item.val}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="part bold">
          <div class="part-m" :class="member.act?'act':''"><span class="icon-right" @click="openDetail('member')"></span>我的团队总人数：<span class="c-blue">{{teamdata.peple}}人</span>   动态总收益：<span class="c-yel">{{teamdata.tearn}}ETH</span></div>
          <div class="part-detail" :class="member.act?'act':''">
            <div class="" v-for="(item, index) in tmember" :key="index">
              <div class="item flexBox flexAlignCenter">
                <span class="icon-left" :class="index===member.subindex?'act':''" @click="subDetailToggle('member', index)"></span>
                <div class="flex1 flexBox flexBetween">
                  <div class="flex1"><span>{{index+1}}代人数: </span><span class="c-blue mar-rt130">{{item.people}}人</span></div>
                  <div class="flex1"><span>收益：</span><span class="c-yel">{{item.earnings}}ETH</span></div>
                </div>
              </div>
              <div class="detail" :class="index===member.subindex?'act':''">
                <p v-for="(sitem, sindex) in item.detail" :key="sindex">{{sitem.username}}：产生收益{{sitem.earnings}}ETH</p>
              </div>
            </div>
          </div>
        </div>
        <div class="part m-bt0 bold">
          <div class="part-m" :class="leader.act?'act':''"><span class="icon-right" @click="openDetail('leader')"></span>伞下的新领导，领导奖总收益：<span class="c-yel">{{teamdata.leaderEarn}}ETH</span></div>
          <div class="part-detail" :class="leader.act?'act':''">
            <div v-for="(item, index) in tleader" :key="index">
              <div class="item flexBox flexAlignCenter">
                <span class="icon-left" :class="index===leader.subindex?'act':''" @click="subDetailToggle('leader', index)"></span>
                <div class="flex1 flexBox flexBetween">
                  <div class="flex1"><span>{{index+1}}代领导: </span><span class="c-blue mar-rt130">{{item.people}}人</span></div>
                  <div class="flex1"><span>收益：</span><span class="c-yel">{{item.earnings}}ETH</span></div>
                </div>
              </div>
              <div class="detail" :class="index===leader.subindex?'act':''">
                <p v-for="(sitem, sindex) in item.detail" :key="sindex">{{sitem.username}}：产生收益{{sitem.earnings}}ETH</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type='button' class="back bold btn-red" @click="back">返回</button>
    </div>
  </div>
</template>

<script>
import HttpMy from '@/service/my'
export default {
  data () {
    return {
      infos: [
        { name: '当前级别：', val: '王者' },
        { name: '团队总人数：', val: '1589人' },
        { name: '累计动态收益：', val: '187ETH' },
        { name: 'ROFK收益：', val: '922ETH' }
      ],
      member: {
        act: false,
        subindex: ''
      },
      teamdata: {
        peple: '',
        tearn: '',
        dyearn: ''
      },
      tmember: [
        /* { num: 8, get: 124, detail: [ { name: 'asda', value: 123 }, { name: 'asda', value: 123 } ] },
        { num: 8, get: 124, detail: [ { name: 'asda', value: 123 }, { name: 'asda', value: 123 } ] },
        { num: 8, get: 124, detail: [ { name: 'asda', value: 123 }, { name: 'asda', value: 123 } ] } */
      ],
      leader: {
        act: false,
        subindex: ''
      },
      tleader: [
        /* { num: 822, get: 124, detail: [ { name: 'asda', value: 123 }, { name: 'asda', value: 123 } ] },
        { num: 83, get: 124, detail: [ { name: 'asda', value: 123 }, { name: 'asda', value: 123 } ] },
        { num: 81, get: 124, detail: [ { name: 'asda', value: 123 }, { name: 'asda', value: 123 } ] } */
      ]
    }
  },
  created () {
    HttpMy.team({}).then((res) => {
      if (res) {
        let data = res.team_data
        this.infos = [
          { name: '当前级别：', val: res.userinfo.level },
          { name: '团队总人数：', val: data.team_people + '人' },
          { name: '累计动态收益：', val: data.cumulative_dynamic_earnings + 'ETH' },
          { name: 'ROFK收益：', val: data.rofk_earnings + 'ETH' }
        ]
        this.teamdata = {
          peple: data.earnings_detail.data1.team_people,
          tearn: data.earnings_detail.data1.cumulative_dynamic_earnings,
          leaderEarn: data.earnings_detail.data2.leader_earnings
        }
      }
    })
  },
  mounted () {
    // 数据块，1=团队及相关数据，2=领导及相关数据
    HttpMy.teamList1({ data_type: 1 }).then((res) => {
      for (var key in res.lists) {
        this.tmember.push(res.lists[key])
      }
    })
    HttpMy.teamList1({ data_type: 2 }).then((res) => {
      for (var key in res.lists) {
        this.tleader.push(res.lists[key])
      }
    })
  },
  methods: {
    openDetail (type) {
      if (type === 'member') {
        this.member.act = !this.member.act
      } else if (type === 'leader') {
        this.leader.act = !this.leader.act
      }
    },
    subDetailToggle (type, index) {
      HttpMy.teamList1Detail({
        data_type: type === 'member' ? 1 : 2,
        level_type: index + 1
      }).then((res) => {
        if (res) {
          // console.log(res)
          if (type === 'member') {
            this.tmember[index].detail = res.lists
            this.member.subindex = index
          } else if (type === 'leader') {
            this.tleader[index].detail = res.lists
            this.leader.subindex = index
          }
        }
      })
    },
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped src="../../assets/scss/my-team.scss">
</style>
