<template>
  <div class="Userinfo">
    <div class="info-box">
      <div>
        <div class="level flexBox">
          <img src="~@/assets/img/my/userinfo-bg@2x.png" alt="loading" />
          <div>
            <p class="grade">当前级别</p>
            <div class="grade-val">王者</div>
          </div>
        </div>
        <ul class="params">
          <li class="flexBox flexAlignCenter">
            <span class="icon name"></span><span class="text">用户名：{{name}}</span>
          </li>
          <li class="flexBox flexAlignCenter">
            <span class="icon email"></span><span class="text">邮箱：{{email}}</span>
          </li>
          <li class="flexBox flexAlignCenter">
            <span class="icon referee"></span><span class="text">推荐人：{{referee}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sbt-box bold">
      <button type="button" class="btn-blue" @click="resetPsd">修改密码</button>
      <button type="button" class="btn-blue" @click="resetEmail">修改邮箱</button>
      <button type="button" class="btn-red" @click="back">返回</button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: '123123',
      email: '12312',
      referee: '123123'
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    },
    resetPsd () {
      this.$router.push('/myc/resetPsd')
    },
    resetEmail () {
      this.$router.push('/myc/resetEmail')
    }
  }
}
</script>

<style lang="scss" scoped>
.info-box {
  padding: 26px 20px 130px 20px;
  &>div {
    background:rgba(33,45,132,0.4);
    border:2px solid rgba(51, 123, 255, 0.36);
    border-radius:10px;
    color: #fff;
    padding: 34px 0 30px 33px;
    .level {
      margin-bottom: 50px;
      img {
        width: 212px;
        height: 212px;
        margin-right: 35px;
      }
      .grade {
        font-size: 40px;
        height: 37px;
        line-height: 37px;
        margin-top: 17px;
        margin-bottom: 31px;
        text-align: left;
      }
      .grade-val {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        width: 188px;
        font-size: 36px;
        background: #6562FF;
        border-radius: 10px;
      }
    }
    .params {
      li {
        height: 50px;
        margin-bottom: 30px;
        font-size: 30px;
        .icon {
          display: inline-block;
          width: 50px;
          height: 50px;
          margin-right: 35px;
        }
        .icon.name {
          background: url(~@/assets/img/my/lists/userinfo@3x.png) no-repeat center;
          background-size: 100%;
        }
        .icon.email {
          background: url(~@/assets/img/my/lists/email@3x.png) no-repeat center;
          background-size: 100%;
        }
        .icon.referee {
          background: url(~@/assets/img/my/icon-referee@3x.png) no-repeat center;
          background-size: 100%;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.sbt-box {
  padding-bottom: 6px;
  button {
    width: 660px;
    height: 88px;
    font-size: 32px;
    margin-bottom: 17px;
    border-radius: 8px;
  }
}
</style>
