<template>
  <div class="type-bimg flexBetween flexBox" :class="isAndroid?'isAndroid':''">
    <div v-for="(item, index) in lists" :key="index" class="item" @click="todetail(item)">
      <div class="img-box">
        <img alt="loading" v-lazy="item.picUrl"/>
        <div class="tag-box">
          <span class="tag" v-show="item.commissionPrice">下单预计再返{{(item.commissionPrice/100).toFixed(1)}}元</span>
        </div>
        </div>
      <div class="detail">
        <div class="title text-line2">{{item.title}}</div>
        <div class="flexBox flexBetween">
          <div class="price">
            <span class="name">券后</span>
            <span class="medium">
              <span class="unit">¥</span><span class="integer">{{Math.floor(item.discountPrice/100)}}</span><span class="dot">.{{10>item.discountPrice%100?'0'+item.discountPrice%100:item.discountPrice%100}}</span>
            </span>
          </div>
          <div class="quan">{{item.couponPrice/100}}元券</div>
        </div>
        <div class="flexBox flexBetween oldprice">
          <span>天猫价¥{{(item.price/100).toFixed(2)}}</span>
          <span>已售{{item.salesVolume}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { isAndroid } from '@/module/common'
export default {
  props: {
    lists: {
      type: Array
    }
  },
  data () {
    return {
      isAndroid: false
    }
  },
  created () {
    // console.log(this.lists)
  },
  mounted () {
    this.isAndroid = isAndroid()
  },
  methods: {
    todetail (item) {
      localStorage.numIid = item.itemId
      if (this.$route.name === 'detail') {
        this.$router.push({
          path: '/detailc',
          query: {
            id: item.itemId
          }
        })
      } else {
        this.$router.push({
          path: '/detail',
          query: {
            id: item.itemId
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.type-bimg {
  padding: 13px 20px 0 20px;
  flex-wrap: wrap;
  .item {
    width: 345px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: #fff;
    .img-box {
      position: relative;
      /*height: 338px;
      width: 338px;*/
      padding: 10px 10px 0 10px;
      box-sizing: border-box;
      .tag-box {
        position: absolute;
        height: 42px;
        line-height: 42px;
        width: 100%;
        padding: 0 10px;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        .tag {
          display: inline-block;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(-90deg, #FF7A66 0%, #F54B78 100%);
          color: #fff;
          font-size: 24px;
        }
      }
    }
    .detail {
      padding: 20px 20px 25px 20px;
      background: #fff;
      .title {
        line-height: 38px;
        color: #333;
        font-size: 28px;
        margin-bottom: 15px;
      }
    }
    .price {
      color: #ED145B;
      font-size: 22px;
      .name {
        display: inline-block;
        vertical-align: bottom;
      }
      .unit {
        font-size: 22px;
        margin: 0 3px;
      }
      .medium {
        font-family: PingFangSC-Medium;
        vertical-align: bottom;
        display: inline-block;
        position: relative;
        top: 3px;
        align-items: flex-end;
      }
      .dot {
        font-size: 26px;
      }
      .integer {
        font-size: 32px;
      }
    }
    .quan {
      width: 120px;
      text-align: center;
      height: 46px;
      line-height: 46px;
      background: url(~@/assets/img/icon-small-quan.png) no-repeat center;
      background-size: 100%;
      color: #fff;
      font-size: 22px;
      padding-left: 12px;
      box-sizing: border-box;
    }
    .oldprice {
      color: #999;
      font-size: 22px;
      margin-top: 10px;
    }
  }
}
.isAndroid.type-bimg .item .price .medium {
  font-weight: 500;
}
</style>
